Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.js": ["prettier --write"],
  "*.md": ["markdownlint --fix", "prettier --write"]
}

internal(scripts): inclusive instead of exclusive options in scripts
  examples/package.json
  package.json
  scripts/markdown.ts
  scripts/package.json.ts
  website/package.json
Due: eslint --fix, prettier --write

test: fixed eslint rule and test title
  tests/.eslintrc
  tests/functional/default-values.ts
Due: eslint --fix, prettier --write

test: fixed conditional expect
  tests/.eslintrc
  tests/functional/authorization.ts
  tests/functional/circular-refs.ts
  tests/functional/directives.ts
  tests/functional/errors/metadata-polyfill.ts
  tests/functional/fields.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/resolvers.ts
  tests/functional/subscriptions.ts
  tests/helpers/getError.ts
Due: eslint --fix, prettier --write

chore(sponsors): update sponsors image
  img/github-sponsors.svg
  website/static/img/github-sponsors.svg
Due: none

test(eslint): improving rules
  .eslintrc
  tests/.eslintrc
Due: none

test(eslint): improving rules
  tests/.eslintrc
  tests/functional/middlewares.ts
  tests/functional/simple-resolvers.ts
Due: eslint --fix, prettier --write

test(eslint): improving rules
  tests/.eslintrc
  tests/functional/emit-schema-sdl.ts
Due: eslint --fix, prettier --write

test(eslint): fixed eslint and improving rules
  .eslintrc
  benchmarks/array/run.ts
  benchmarks/simple/run.ts
  src/@types/Reflect.d.ts
  tests/.eslintrc
  tests/functional/ioc-container.ts
  tests/functional/resolvers.ts
  tests/functional/typedefs-resolvers.ts
  tests/functional/unions.ts
  tests/helpers/getSchemaInfo.ts
  tests/helpers/sleep.ts
Due: eslint --fix, prettier --write

chore(eslint): fixed no-prototype-builtins eslint rule
  .eslintrc
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

chore(eslint): ignored eslint rule no-await-in-loop
  .eslintrc
  src/helpers/filesystem.ts
  src/utils/createResolversMap.ts
Due: eslint --fix, prettier --write

chore(eslint): fixed additional eslint rules
  .eslintrc
  benchmarks/array/run.ts
  benchmarks/simple/run.ts
  src/helpers/types.ts
  src/metadata/metadata-storage.ts
  src/resolvers/convert-args.ts
  src/schema/schema-generator.ts
  src/schema/utils.ts
  src/utils/createResolversMap.ts
  tests/functional/resolvers.ts
  tests/helpers/directives/TestDirective.ts
Due: eslint --fix, prettier --write

chore(eslint): fix prefer-spread
  .eslintrc
  src/resolvers/create.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

chore(eslint): fixed rules no-restricted-syntax and vars-on-top
  .eslintrc
  src/@types/TypeGraphQL.d.ts
  src/metadata/getMetadataStorage.ts
Due: eslint --fix, prettier --write

chore(eslint): fixed rules @typescript-eslint/no-var-requires and partial fix for @typescript-eslint/no-non-null-assertion
  .eslintrc
  examples/generic-types/paginated-response.type.ts
  src/@types/Reflect.d.ts
  src/decorators/Resolver.ts
  src/decorators/Subscription.ts
  src/decorators/types.ts
  src/decorators/unions.ts
  src/metadata/definitions/union-metadata.ts
  src/metadata/metadata-storage.ts
  src/resolvers/convert-args.ts
  src/schema/definition-node.ts
  src/typings/AuthChecker.ts
  src/typings/ClassType.ts
  src/typings/NonEmptyArray.ts
  src/typings/TypeResolver.ts
  src/typings/index.ts
  src/typings/utils/Class.ts
  src/typings/utils/Constructor.ts
  src/typings/utils/Except.ts
  src/typings/utils/IsEqual.ts
  src/typings/utils/Maybe.ts
  src/typings/utils/MaybePromise.ts
  src/typings/utils/MergeExclusive.ts
  src/typings/utils/NonEmptyArray.ts
  src/typings/utils/SetRequired.ts
  src/typings/utils/Simplify.ts
  src/typings/utils/index.ts
  src/utils/buildSchema.ts
  src/utils/types.ts
  tests/functional/default-values.ts
  tests/functional/generic-types.ts
  tests/functional/metadata-storage.ts
  tests/functional/query-complexity.ts
  tests/functional/resolvers.ts
  tests/helpers/directives/assertValidDirective.ts
Due: eslint --fix, prettier --write

chore(eslint): fix rules import/no-cycle and @typescript-eslint/no-non-null-assertion
  .eslintrc
  examples/typeorm-basic-usage/entities/rating.ts
  examples/typeorm-basic-usage/entities/recipe.ts
  examples/typeorm-lazy-relations/entities/rating.ts
  examples/typeorm-lazy-relations/entities/recipe.ts
  examples/typeorm-lazy-relations/entities/user.ts
  tests/helpers/circular-refs/good/CircularRef1.ts
  tests/helpers/circular-refs/good/CircularRef2.ts
  tests/helpers/circular-refs/wrong/CircularRef1.ts
  tests/helpers/circular-refs/wrong/CircularRef2.ts
Due: eslint --fix, prettier --write

chore(ci): added npm package provenance
  .github/workflows/ci.yml
  package.json
Due: none

refactor(internal): npm workspaces
  .eslintignore
  .eslintrc
  .eslintrc.js
  .github/workflows/ci.yml
  .vscode/settings.json
  .vscode/type-graphql.code-workspace
  benchmarks/.eslintrc
  benchmarks/.eslintrc.js
  benchmarks/package.json
  benchmarks/tsconfig.json
  cspell.json
  examples/.eslintrc
  examples/.eslintrc.js
  examples/esm/.eslintrc
  examples/package-lock.json
  examples/package.json
  examples/tsconfig.json
  package-lock.json
  package.json
  packages/type-graphql/.eslintrc
  packages/type-graphql/.eslintrc.js
  packages/type-graphql/package-lock.json
  packages/type-graphql/package.json
  packages/type-graphql/tests/.eslintrc
  packages/type-graphql/tests/functional/middlewares.ts
  packages/type-graphql/tsconfig.json
  scripts/.eslintrc
  scripts/package.json
  scripts/package.json.ts
  scripts/tsconfig.json
  scripts/version.ts
  tsconfig.json
Due: eslint --fix, prettier --write

change build config to ES2021
  CHANGELOG.md
  tsconfig.json
Due: prettier --write, markdownlint --fix

chore(eslint): removed extends
  .eslintrc
  benchmarks/.eslintrc
  examples/.eslintrc
  examples/esm/.eslintrc
  packages/type-graphql/.eslintrc
  packages/type-graphql/tests/.eslintrc
Due: none

chore(ci): codeql
  .github/configs/codeql.yml
Due: none

chore(package): included website and fix ci and dependabot
  .github/dependabot.yml
  .github/workflows/ci.yml
  package-lock.json
  package.json
  website/package-lock.json
  website/package.json
Due: none

fix: revert Class to ClassType
  packages/type-graphql/src/decorators/Resolver.ts
  packages/type-graphql/src/decorators/types.ts
  packages/type-graphql/src/decorators/unions.ts
  packages/type-graphql/src/metadata/definitions/union-metadata.ts
  packages/type-graphql/src/metadata/metadata-storage.ts
  packages/type-graphql/src/resolvers/convert-args.ts
  packages/type-graphql/src/typings/AuthChecker.ts
  packages/type-graphql/src/typings/TypeResolver.ts
  packages/type-graphql/src/typings/utils/ClassType.ts
  packages/type-graphql/src/typings/utils/index.ts
Due: eslint --fix, prettier --write

fix: ClassType in examples
  examples/generic-types/paginated-response.type.ts
  package.json
Due: eslint --fix, prettier --write

test: fix class type
  packages/type-graphql/tests/functional/default-values.ts
  packages/type-graphql/tests/functional/generic-types.ts
  packages/type-graphql/tests/functional/metadata-storage.ts
  packages/type-graphql/tests/functional/query-complexity.ts
  packages/type-graphql/tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

Upgrade lockfile
  package-lock.json
Due: none

Fix glob import in markdown script
  scripts/markdown.ts
Due: eslint --fix, prettier --write

Fix release script to work with npm workspaces
  package-lock.json
  package.json
  packages/type-graphql/package.json
  website/package.json
Due: none

chore(vscode): github action extension
  .vscode/extensions.json
Due: none

docs(examples): create a proper debug launch script
  .vscode/launch.json
  .vscode/tasks.json
  examples/dev.js
Due: prettier --write

Deploy website Deploy website version based on 26b2c0eba5fe5962821a05d30e9a02a3b5b1dac7
  img/github-sponsors.svg
Due: none

feat(types): update decorator types for TS 5.0
  package-lock.json
  package.json
  src/decorators/Arg.ts
  src/decorators/Args.ts
  src/decorators/Ctx.ts
  src/decorators/Info.ts
  src/decorators/PubSub.ts
  src/decorators/Root.ts
  src/decorators/createParamDecorator.ts
  src/interfaces/LegacyDecorators.ts
Due: eslint --fix, prettier --write

Deploy website Deploy website version based on 90d23f104d22dc7e55c4e4e4d074b1f06593f611
  docs/next/installation.html
  docs/next/validation.html
Due: none

feat(validation): make `class-validator` truly optional dependency
  CHANGELOG.md
  docs/installation.md
  docs/validation.md
  examples/automatic-validation/index.ts
  examples/custom-validation/index.ts
  examples/mixin-classes/index.ts
  package.json
  src/errors/ArgumentValidationError.ts
  src/resolvers/create.ts
  src/resolvers/helpers.ts
  src/resolvers/validate-arg.ts
  src/schema/build-context.ts
  tests/functional/typedefs-resolvers.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write, markdownlint --fix
