Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

chore(ci): codeql security-and-quality and inline config
  .github/configs/codeql.yml
  .github/workflows/codeql.yml
Due: none

chore(ci): codeql javascript-typescript instead of javascript language
  .github/workflows/codeql.yml
Due: none

chore(ci): codeql security-and-quality and inline config (#1773)
  .github/configs/codeql.yml
  .github/workflows/codeql.yml
Due: none

docs(sponsors): add bronze sponsors
  README.md
  images/logo-buzzv.png
  images/tokmax.svg
  website/pages/en/index.js
  website/static/img/logo-buzzv.png
  website/static/img/tokmax.svg
Due: prettier --write, markdownlint --fix

docs(sponsors): add strands hint to bronze section
  README.md
  images/strands-hint-logo.svg
  website/pages/en/index.js
  website/static/img/strands-hint-logo.svg
Due: prettier --write, markdownlint --fix

docs(sponsors): add SocialWick to bronze section
  README.md
  images/socialwick-logo.png
  website/pages/en/index.js
  website/static/img/socialwick-logo.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add UseViral to bronze section
  README.md
  images/use-viral-logo.webp
  website/pages/en/index.js
  website/static/img/use-viral-logo.webp
Due: prettier --write, markdownlint --fix

chore(lint): fix cspell issues
  cspell.json
Due: none

docs(sponsors): add rel="sponsored" to href
  website/pages/en/index.js
Due: none

docs(sponsors): add c19 to bronze sponsors
  README.md
  images/c19.png
  website/pages/en/index.js
  website/static/img/c19.png
Due: prettier --write, markdownlint --fix

docs(sponsors): remove expired sponsorships
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

docs(sponsors): add new bronze sponsors
  README.md
  cspell.json
  images/kaszinomagyar.svg
  images/nove_casino.svg
  images/play_fortune.png
  images/zahranicnicasino.svg
  website/pages/en/index.js
  website/static/img/kaszinomagyar.svg
  website/static/img/nove_casino.svg
  website/static/img/play_fortune.png
  website/static/img/zahranicnicasino.svg
Due: prettier --write, markdownlint --fix

docs(sponsors): add Fansoria to bronze sponsors
  README.md
  cspell.json
  images/fansoria.png
  website/pages/en/index.js
  website/static/img/fansoria.png
Due: prettier --write, markdownlint --fix

docs(sponsors): remove outdated and add views4you
  README.md
  images/v4u.png
  website/pages/en/index.js
  website/static/img/v4u.png
Due: prettier --write, markdownlint --fix

docs(sponsors): remove outdated and add best online casino
  README.md
  images/best-casino.png
  images/felix.png
  website/pages/en/index.js
  website/static/img/best-casino.png
  website/static/img/felix.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add new bronze sponsors
  README.md
  cspell.json
  images/moonkasyno.png
  images/socialift.png
  website/pages/en/index.js
  website/static/img/moonkasyno.png
  website/static/img/socialift.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add new bronze sponsors
  README.md
  images/kasyno-online.png
  images/the-yt-views.png
  website/pages/en/index.js
  website/static/img/kasyno-online.png
  website/static/img/the-yt-views.png
Due: prettier --write, markdownlint --fix

docs(sponsors): remove outdated and add payid pookies
  README.md
  images/payid_pookies.avif
  website/pages/en/index.js
  website/static/img/payid_pookies.avif
Due: prettier --write, markdownlint --fix

docs(sponsors): add missing c19 casino
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

fix: prevent enumerable undefined properties in InputType instances
  src/helpers/types.ts
  tests/functional/inputtype-enumerable-properties.ts
Due: eslint --fix, prettier --write

chore(cspell): fix linting issues
  cspell.json
Due: none

chore(workflow): update node.js versions
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/sponsor.yml
  .github/workflows/website.yml
Due: none

fix(inputs): prevent enumerable undefined properties in instances (#1789)
  src/helpers/types.ts
  tests/functional/inputtype-enumerable-properties.ts
Due: eslint --fix, prettier --write

fix(extensions) add interface class extensions related to (#1775)
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

test(extensions) test cases for interface extensions related to (#1775)
  tests/functional/extensions.ts
Due: eslint --fix, prettier --write

test(extensions) made sure interface extensions work when object type extends interface type related to (#1775)
  tests/functional/extensions.ts
Due: eslint --fix, prettier --write

test(extensions) fixed testcases that were deleted in the previous commit fixed stylistic issues (#1775)
  tests/functional/extensions.ts
Due: eslint --fix, prettier --write

nit: change names and values to ensure tests are correct
  tests/functional/extensions.ts
Due: eslint --fix, prettier --write

fix(interfaces): support GraphQL extensions (#1776)
  src/schema/schema-generator.ts
  tests/functional/extensions.ts
Due: eslint --fix, prettier --write

chore(deps): update all deps with peer deps
  .markdownlintignore
  CHANGELOG.md
  docs/emit-schema.md
  docs/extensions.md
  docs/installation.md
  examples/typegoose/.eslintrc
  examples/typegoose/entities/recipe.ts
  examples/typegoose/entities/user.ts
  examples/typegoose/helpers.ts
  examples/typegoose/index.ts
  examples/typegoose/resolvers/recipe.resolver.ts
  package-lock.json
  package.json
  src/utils/graphql-version.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(node): manage node.js versions
  .github/workflows/check.yml
  .nvmrc
  package-lock.json
Due: none

chore(jest): fix issues after upgrade
  .eslintignore
  jest.config.cts
Due: none

docs(license): update copyright year(s)
  LICENSE
Due: none

chore: update changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

fix: reset state on tests, move class init to BeforeEach instead of BeforeAll
  tests/functional/authorization.ts
  tests/functional/middlewares.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write

Adjust style and formatting for consistence
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

fix: use Set() for middleware cache
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

feat: Optimize metadata-storage build with HashMap caching for O(1) lookups
  package.json
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

Revert version bump
  package.json
Due: none

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: (any of: **/*.ts) or (any of: **/*.md)
  markdownlint --fix: any of: **/*.md
