Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.md": ["markdownlint --fix", "prettier --write"],
  "!**/*.{ts,md}": "prettier --write --ignore-unknown"
}

fix: lint
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

fix(field-resolvers): use schemaName for building field metadata (#1284)
  src/metadata/metadata-storage.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

fix:(ci): adjust configuration of subworkflows (#1597)
  .github/workflows/check.yml
  .github/workflows/license.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
Due: none

fix(build): restore esm settings instead of NodeNext
  tsconfig.esm.json
Due: none

fix(resolvers): resolve #1142 name issue and add relevant tests
  src/utils/createResolversMap.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write

fix(type-defs): don't omit types of name with `__` inside (#1309)
  src/utils/createResolversMap.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

chore(deps): update all deps to latest versions
  CHANGELOG.md
  examples/mikro-orm/index.ts
  package-lock.json
  package.json
  src/schema/schema-generator.ts
  src/typings/utils/Except.ts
  src/utils/buildSchema.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(workflow): run `check` only on newest node version
  .github/workflows/check.yml
Due: none

release: 2.0.0-beta.6
  CHANGELOG.md
  package-lock.json
  package.json
  website/versioned_docs/version-2.0.0-beta.6/authorization.md
  website/versioned_docs/version-2.0.0-beta.6/complexity.md
  website/versioned_docs/version-2.0.0-beta.6/custom-decorators.md
  website/versioned_docs/version-2.0.0-beta.6/dependency-injection.md
  website/versioned_docs/version-2.0.0-beta.6/examples.md
  website/versioned_docs/version-2.0.0-beta.6/extensions.md
  website/versioned_docs/version-2.0.0-beta.6/generic-types.md
  website/versioned_docs/version-2.0.0-beta.6/inheritance.md
  website/versioned_docs/version-2.0.0-beta.6/interfaces.md
  website/versioned_docs/version-2.0.0-beta.6/middlewares.md
  website/versioned_docs/version-2.0.0-beta.6/resolvers.md
  website/versioned_docs/version-2.0.0-beta.6/subscriptions.md
  website/versioned_docs/version-2.0.0-beta.6/unions.md
  website/versioned_docs/version-2.0.0-beta.6/validation.md
  website/versions.json
Due: prettier --write, markdownlint --fix

Allow maxAge to be 0
  examples/apollo-cache/cache-control.ts
Due: eslint --fix, prettier --write

chore(ci): fixed ci release and removed Node.js 16
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
Due: none

chore(ci): prefer [0-9] instead of \d in regex
  .github/workflows/release.yml
Due: none

Update examples/apollo-cache/cache-control.ts
  examples/apollo-cache/cache-control.ts
Due: eslint --fix, prettier --write

docs(examples): allow `maxAge` in `apollo-cache` to be set to 0
  examples/apollo-cache/cache-control.ts
Due: eslint --fix, prettier --write

docs(sponsors): add NonStopCasino to bronze sponsors
  README.md
  images/non-stop-casino.png
  website/pages/en/index.js
  website/static/img/non-stop-casino.png
Due: prettier --write, markdownlint --fix

chore(website): update generated i18n file
  website/i18n/en.json
Due: none

chore(ci): fixed ci release and removed Node.js 16 (#1610)
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
Due: none

build: remove support for node 16
  .npmrc
  package.json
Due: none

docs(migration-guide): add section for `DateTimeISO` scalar
  docs/migration-guide.md
Due: prettier --write, markdownlint --fix

build: remove support for node 16 (#1611)
  .npmrc
  package.json
Due: none

docs(sponsors): add NonGamstopCasinos to bronze sponsors
  README.md
  images/non-gamstop-casinos.svg
  website/pages/en/index.js
  website/static/img/non-gamstop-casinos.svg
Due: prettier --write, markdownlint --fix

docs: added discrod badge and updated npm badge
  README.md
Due: prettier --write, markdownlint --fix

fix: typo
  README.md
Due: prettier --write, markdownlint --fix

docs(examples): add link to article integrating azure functions
  docs/azure-functions.md
Due: prettier --write, markdownlint --fix

docs(sample): corrected location of doc to be added
  website/i18n/en.json
  website/versioned_docs/version-2.0.0-beta.6/azure-functions.md
Due: prettier --write, markdownlint --fix

doc(sample): add compact guide for azure function integration
  website/versioned_docs/version-2.0.0-beta.6/azure-functions.md
Due: prettier --write, markdownlint --fix

docs(example): add azure functions integration example
  docs/examples.md
  examples/azure-functions/handler-graphql/function.json
  examples/azure-functions/handler-graphql/index.ts
  examples/azure-functions/host.json
  examples/azure-functions/package-lock.json
  examples/azure-functions/package.json
  examples/azure-functions/src/constants/sample-data.ts
  examples/azure-functions/src/models/user.ts
  examples/azure-functions/src/resolvers/user.resolver.ts
  examples/azure-functions/tsconfig.json
  package-lock.json
  website/versioned_docs/version-2.0.0-beta.6/examples.md
Due: eslint --fix, prettier --write, markdownlint --fix

feat(subscriptions): allow passing subscription functions using class methods
  src/decorators/Subscription.ts
  src/resolvers/create.ts
  src/schema/schema-generator.ts
  tests/functional/subscriptions.ts
Due: eslint --fix, prettier --write

Fix deeply nested overriding of fields in arg type
  CHANGELOG.md
  src/schema/schema-generator.ts
  tests/functional/interfaces-and-inheritance.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(deps-dev): bump prettier from 3.1.1 to 3.2.5
  package-lock.json
  package.json
  src/helpers/utils.ts
  src/metadata/utils.ts
  src/schema/schema-generator.ts
  src/typings/utils/Except.ts
  src/typings/utils/IsEqual.ts
Due: eslint --fix, prettier --write

docs: added discord badge and updated npm badge (#1632)
  README.md
Due: prettier --write, markdownlint --fix

Update custom-decorators.md
  docs/custom-decorators.md
Due: prettier --write, markdownlint --fix

docs(custom-decorators): fix grammar typo (#1647)
  docs/custom-decorators.md
Due: prettier --write, markdownlint --fix

docs(subscriptions): fix wrong `subscribe` function signature
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs(subscriptions): restore redis example link
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

feat(metadata): adjust typings and simplify Reflect API check
  CHANGELOG.md
  docs/installation.md
  src/@types/Reflect.d.ts
  src/helpers/findType.ts
  src/metadata/metadata-storage.ts
  src/metadata/utils.ts
  tests/functional/errors/metadata-polyfill.ts
  tests/helpers/expectToThrow.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(sponsors): remove NonGamstopCasinos from sponsors
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

Fix assert directive
  tests/helpers/directives/assertValidDirective.ts
Due: eslint --fix, prettier --write

fix: allow @Directive definition multiline and leading spaces
  src/schema/definition-node.ts
  tests/functional/directives.ts
Due: eslint --fix, prettier --write
