Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.md": ["markdownlint --fix", "prettier --write"],
  "!**/*.{ts,md}": "prettier --write --ignore-unknown"
}

simplify github actions
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/license.yml
  .github/workflows/release.yml
  .github/workflows/sponsor.yml
  .github/workflows/website.yml
Due: none

simplify github actions (#39)
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/license.yml
  .github/workflows/release.yml
  .github/workflows/sponsor.yml
  .github/workflows/website.yml
Due: none

manual release action
  .github/workflows/release.yml
Due: none

chore: restore test watch script
  package.json
Due: none

feat(directives): add support for field directives on `@ArgsType`
  CHANGELOG.md
  docs/directives.md
  src/schema/schema-generator.ts
  tests/functional/directives.ts
  tests/helpers/directives/TestDirective.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat(directives): add support for directives on inline `@Arg`
  CHANGELOG.md
  docs/directives.md
  src/decorators/Directive.ts
  src/metadata/definitions/directive-metadata.ts
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
  tests/functional/directives.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat(validation): support custom validate fn on args decorator level
  CHANGELOG.md
  docs/validation.md
  src/decorators/types.ts
  src/helpers/params.ts
  src/metadata/definitions/param-metadata.ts
  src/resolvers/helpers.ts
  src/resolvers/validate-arg.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(deps-dev): bump typescript from 5.1.6 to 5.2.2
  docs/esm.md
  package-lock.json
  package.json
  tsconfig.esm.json
Due: prettier --write, markdownlint --fix

Fix glob typings
  package-lock.json
  package.json
Due: none

docs: typo
  README.md
Due: prettier --write, markdownlint --fix

docs(readme): fix badge url (#1527)
  README.md
Due: prettier --write, markdownlint --fix

chore(docs): remove GraphQL Conf banner
  README.md
  images/GraphQLConf-2023-Banner.png
  website/core/Footer.js
  website/static/css/custom.css
  website/static/img/GraphQLConf-2023-Banner.png
Due: prettier --write, markdownlint --fix

chore(deps): bump graphql from 16.7.1 to 16.8.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/utils/graphql-version.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(recipes): add AWS lambda integration snippet
  docs/aws-lambda.md
  website/i18n/en.json
  website/package.json
  website/sidebars.json
Due: prettier --write, markdownlint --fix

Add link in examples page in website
  docs/examples.md
Due: prettier --write, markdownlint --fix

Adjust examples to show federation v2 capabilities
  examples/apollo-federation-2/examples.graphql
  examples/apollo-federation-2/reviews/user/user.ts
  examples/apollo-federation-2/schema.graphql
  examples/apollo-federation/examples.graphql
Due: eslint --fix, prettier --write

docs(examples): add Apollo Federation v2 example (#1448)
  .vscode/launch.json
  docs/examples.md
  examples/README.md
  examples/apollo-federation-2/accounts/data.ts
  examples/apollo-federation-2/accounts/index.ts
  examples/apollo-federation-2/accounts/resolver.ts
  examples/apollo-federation-2/accounts/user.reference.ts
  examples/apollo-federation-2/accounts/user.ts
  examples/apollo-federation-2/examples.graphql
  examples/apollo-federation-2/helpers/buildFederatedSchema.ts
  examples/apollo-federation-2/index.ts
  examples/apollo-federation-2/inventory/data.ts
  examples/apollo-federation-2/inventory/index.ts
  examples/apollo-federation-2/inventory/product.reference.ts
  examples/apollo-federation-2/inventory/product.ts
  examples/apollo-federation-2/inventory/resolver.ts
  examples/apollo-federation-2/products/data.ts
  examples/apollo-federation-2/products/dining.ts
  examples/apollo-federation-2/products/index.ts
  examples/apollo-federation-2/products/product.reference.ts
  examples/apollo-federation-2/products/product.ts
  examples/apollo-federation-2/products/resolver.ts
  examples/apollo-federation-2/products/seating.ts
  examples/apollo-federation-2/reviews/index.ts
  examples/apollo-federation-2/reviews/product/product.ts
  examples/apollo-federation-2/reviews/product/resolver.ts
  examples/apollo-federation-2/reviews/review/data.ts
  examples/apollo-federation-2/reviews/review/resolver.ts
  examples/apollo-federation-2/reviews/review/review.ts
  examples/apollo-federation-2/reviews/user/resolver.ts
  examples/apollo-federation-2/reviews/user/user.ts
  examples/apollo-federation-2/schema.graphql
Due: eslint --fix, prettier --write, markdownlint --fix

Add helpful comment about unique id in subscriptions resolver
  examples/simple-subscriptions/resolver.ts
Due: eslint --fix, prettier --write

refactor(typings): rename files with multiple exports
  src/decorators/UseMiddleware.ts
  src/decorators/createMethodDecorator.ts
  src/helpers/auth-middleware.ts
  src/metadata/definitions/field-metadata.ts
  src/metadata/definitions/middleware-metadata.ts
  src/metadata/definitions/resolver-metadata.ts
  src/metadata/utils.ts
  src/resolvers/helpers.ts
  src/schema/build-context.ts
  src/typings/ResolverFilterData.ts
  src/typings/ResolverTopicData.ts
  src/typings/ValidatorFn.ts
  src/typings/auth-checker.ts
  src/typings/index.ts
  src/typings/legacy-decorators.ts
  src/typings/middleware.ts
  src/typings/resolver-data.ts
Due: eslint --fix, prettier --write

docs(sponsors): add NonGamstopBets to bronze sponsors
  README.md
  cspell.json
  images/nongamstopbets.png
  website/i18n/en.json
  website/pages/en/index.js
  website/static/img/nongamstopbets.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add CasinoDeps to bronze sponsors
  .vscode/settings.json
  README.md
  cspell.json
  images/casinodeps.svg
  website/i18n/en.json
  website/pages/en/index.js
  website/static/img/casinodeps.svg
Due: prettier --write, markdownlint --fix

docs(license): update copyright year(s)
  LICENSE
Due: none

Update subscription docs along with migration guide and changelog
  CHANGELOG.md
  docs/migration-guide.md
  docs/subscriptions.md
  website/i18n/en.json
  website/sidebars.json
Due: prettier --write, markdownlint --fix

Migrate subscriptions engine to new package
  package-lock.json
  package.json
  src/decorators/PubSub.ts
  src/decorators/Subscription.ts
  src/decorators/index.ts
  src/decorators/types.ts
  src/index.ts
  src/metadata/definitions/resolver-metadata.ts
  src/resolvers/create.ts
  src/resolvers/helpers.ts
  src/schema/build-context.ts
  src/schema/schema-generator.ts
  src/shim.ts
  src/typings/Publisher.ts
  src/typings/ResolverTopicData.ts
  src/typings/SubscribeResolverData.ts
  src/typings/SubscriptionHandlerData.ts
  src/typings/index.ts
  src/typings/subscriptions.ts
Due: eslint --fix, prettier --write

Adjust examples to work with new subscriptions engine
  examples/simple-subscriptions/examples.graphql
  examples/simple-subscriptions/index.ts
  examples/simple-subscriptions/pubsub.ts
  examples/simple-subscriptions/resolver.ts
  examples/simple-subscriptions/schema.graphql
Due: eslint --fix, prettier --write

Adjust tests to work with new subscriptions
  tests/functional/directives.ts
  tests/functional/metadata-storage.ts
  tests/functional/query-complexity.ts
  tests/functional/resolvers.ts
  tests/functional/subscriptions.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write

docs(redis-subscriptions): fix redis subscriptions example
  docs/subscriptions.md
  examples/redis-subscriptions/comment.type.ts
  examples/redis-subscriptions/index.ts
  examples/redis-subscriptions/pubsub.ts
  examples/redis-subscriptions/recipe.resolver.ts
  examples/redis-subscriptions/topics.ts
  examples/simple-subscriptions/index.ts
  examples/simple-subscriptions/notification.resolver.ts
  examples/simple-subscriptions/notification.type.ts
  examples/simple-subscriptions/pubsub.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix

Add dynamic check for process.env.REDIS_URL
  examples/redis-subscriptions/pubsub.ts
  package-lock.json
Due: eslint --fix, prettier --write

test(subscriptions): adjust tests to work with new subscriptions system
  tests/functional/directives.ts
  tests/functional/metadata-storage.ts
  tests/functional/query-complexity.ts
  tests/functional/resolvers.ts
  tests/functional/subscriptions.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write

feat(subscriptions): use new package for subscriptions engine
  package-lock.json
  package.json
  src/decorators/PubSub.ts
  src/decorators/Subscription.ts
  src/decorators/index.ts
  src/decorators/types.ts
  src/errors/MissingPubSubError.ts
  src/errors/index.ts
  src/index.ts
  src/metadata/definitions/resolver-metadata.ts
  src/resolvers/create.ts
  src/resolvers/helpers.ts
  src/schema/build-context.ts
  src/schema/schema-generator.ts
  src/shim.ts
  src/typings/Publisher.ts
  src/typings/ResolverTopicData.ts
  src/typings/SubscribeResolverData.ts
  src/typings/SubscriptionHandlerData.ts
  src/typings/index.ts
  src/typings/subscriptions.ts
Due: eslint --fix, prettier --write

docs(examples): adjust base example to work with new subscriptions engine
  examples/simple-subscriptions/examples.graphql
  examples/simple-subscriptions/index.ts
  examples/simple-subscriptions/pubsub.ts
  examples/simple-subscriptions/resolver.ts
  examples/simple-subscriptions/schema.graphql
Due: eslint --fix, prettier --write

docs(examples): upgrade redis subscriptions example
  examples/redis-subscriptions/comment.type.ts
  examples/redis-subscriptions/index.ts
  examples/redis-subscriptions/pubsub.ts
  examples/redis-subscriptions/recipe.resolver.ts
  examples/redis-subscriptions/topics.ts
  examples/simple-subscriptions/index.ts
  examples/simple-subscriptions/notification.resolver.ts
  examples/simple-subscriptions/notification.type.ts
  examples/simple-subscriptions/pubsub.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs(subscriptions): update subscription docs along with migration guide and the changelog
  CHANGELOG.md
  docs/migration-guide.md
  docs/subscriptions.md
  website/i18n/en.json
  website/sidebars.json
Due: prettier --write, markdownlint --fix

test(subscriptions): add check for missing pubsub error
  src/schema/build-context.ts
  tests/functional/subscriptions.ts
Due: eslint --fix, prettier --write

release: 2.0.0-beta.4
  CHANGELOG.md
  package-lock.json
  package.json
  website/versioned_docs/version-2.0.0-beta.4/authorization.md
  website/versioned_docs/version-2.0.0-beta.4/aws-lambda.md
  website/versioned_docs/version-2.0.0-beta.4/browser-usage.md
  website/versioned_docs/version-2.0.0-beta.4/complexity.md
  website/versioned_docs/version-2.0.0-beta.4/custom-decorators.md
  website/versioned_docs/version-2.0.0-beta.4/dependency-injection.md
  website/versioned_docs/version-2.0.0-beta.4/directives.md
  website/versioned_docs/version-2.0.0-beta.4/emit-schema.md
  website/versioned_docs/version-2.0.0-beta.4/esm.md
  website/versioned_docs/version-2.0.0-beta.4/examples.md
  website/versioned_docs/version-2.0.0-beta.4/extensions.md
  website/versioned_docs/version-2.0.0-beta.4/generic-types.md
  website/versioned_docs/version-2.0.0-beta.4/inheritance.md
  website/versioned_docs/version-2.0.0-beta.4/interfaces.md
  website/versioned_docs/version-2.0.0-beta.4/middlewares.md
  website/versioned_docs/version-2.0.0-beta.4/migration-guide.md
  website/versioned_docs/version-2.0.0-beta.4/resolvers.md
  website/versioned_docs/version-2.0.0-beta.4/subscriptions.md
  website/versioned_docs/version-2.0.0-beta.4/unions.md
  website/versioned_docs/version-2.0.0-beta.4/validation.md
  website/versioned_sidebars/version-2.0.0-beta.4-sidebars.json
  website/versions.json
Due: prettier --write, markdownlint --fix

fix:(ci): workflows that depends on another workflow
  .github/workflows/license.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
Due: none

chore(ci): use env variable to avoid unexpected substitution behavior
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

fix: add test
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

fix: use schemaName instead of methodName when building field resolver metadata
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write
