Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

chore(github): fix publish website gh action
  .github/workflows/ci.yml
Due: none

switch to new apollo standalone server
  examples/apollo-federation-2/accounts/index.ts
  examples/apollo-federation-2/index.ts
  examples/apollo-federation-2/inventory/index.ts
  examples/apollo-federation-2/products/index.ts
  examples/apollo-federation-2/reviews/index.ts
Due: eslint --fix, prettier --write

Add apollo federation 2 example to readme
  examples/README.md
Due: prettier --write, markdownlint --fix

lint/cleanup
  examples/apollo-federation-2/accounts/data.ts
  examples/apollo-federation-2/accounts/index.ts
  examples/apollo-federation-2/accounts/resolver.ts
  examples/apollo-federation-2/accounts/user.reference.ts
  examples/apollo-federation-2/accounts/user.ts
  examples/apollo-federation-2/helpers/buildFederatedSchema.ts
  examples/apollo-federation-2/index.ts
  examples/apollo-federation-2/inventory/index.ts
  examples/apollo-federation-2/inventory/product.reference.ts
  examples/apollo-federation-2/inventory/product.ts
  examples/apollo-federation-2/inventory/resolver.ts
  examples/apollo-federation-2/products/data.ts
  examples/apollo-federation-2/products/dining.ts
  examples/apollo-federation-2/products/index.ts
  examples/apollo-federation-2/products/product.reference.ts
  examples/apollo-federation-2/products/product.ts
  examples/apollo-federation-2/products/resolver.ts
  examples/apollo-federation-2/products/seating.ts
  examples/apollo-federation-2/reviews/index.ts
  examples/apollo-federation-2/reviews/product/product.ts
  examples/apollo-federation-2/reviews/product/resolver.ts
  examples/apollo-federation-2/reviews/review/data.ts
  examples/apollo-federation-2/reviews/review/resolver.ts
  examples/apollo-federation-2/reviews/review/review.ts
  examples/apollo-federation-2/reviews/user/resolver.ts
  examples/apollo-federation-2/reviews/user/user.ts
  examples/apollo-federation/products/dining.ts
  examples/apollo-federation/products/seating.ts
Due: eslint --fix, prettier --write

chore(ci): support semver prerelease
  .github/workflows/ci.yml
Due: none

chore(ci): try js regex
  .github/workflows/ci.yml
Due: none

chore(ci): named group regex
  .github/workflows/ci.yml
Due: none

chore(ci): valid github regex
  .github/workflows/ci.yml
Due: none

chore(ci): simpler regex and failure
  .github/workflows/ci.yml
Due: none

chore(ci): support semver prerelease (#1484)
  .github/workflows/ci.yml
Due: none

chore(ci): update release-changelog-builder-action
  .github/workflows/ci.yml
Due: none

chore(ci): update release-changelog-builder-action (#1491)
  .github/workflows/ci.yml
Due: none

chore(docs): add GraphQL Conf banner
  README.md
  images/GraphQLConf-2023-Banner.png
  website/core/Footer.js
  website/static/css/custom.css
  website/static/img/GraphQLConf-2023-Banner.png
Due: prettier --write, markdownlint --fix

chore: update npm package version to match current release
  package-lock.json
  package.json
Due: none

chore(scripts): fix regex
  scripts/markdown.ts
Due: eslint --fix, prettier --write

chore(scripts): fix markdown package version check
  scripts/markdown.ts
Due: eslint --fix, prettier --write

release: 2.0.0-beta.3
  CHANGELOG.md
  package-lock.json
  package.json
  website/versioned_docs/version-2.0.0-beta.3/authorization.md
  website/versioned_docs/version-2.0.0-beta.3/bootstrap.md
  website/versioned_docs/version-2.0.0-beta.3/browser-usage.md
  website/versioned_docs/version-2.0.0-beta.3/complexity.md
  website/versioned_docs/version-2.0.0-beta.3/custom-decorators.md
  website/versioned_docs/version-2.0.0-beta.3/dependency-injection.md
  website/versioned_docs/version-2.0.0-beta.3/directives.md
  website/versioned_docs/version-2.0.0-beta.3/emit-schema.md
  website/versioned_docs/version-2.0.0-beta.3/enums.md
  website/versioned_docs/version-2.0.0-beta.3/esm.md
  website/versioned_docs/version-2.0.0-beta.3/examples.md
  website/versioned_docs/version-2.0.0-beta.3/extensions.md
  website/versioned_docs/version-2.0.0-beta.3/faq.md
  website/versioned_docs/version-2.0.0-beta.3/generic-types.md
  website/versioned_docs/version-2.0.0-beta.3/getting-started.md
  website/versioned_docs/version-2.0.0-beta.3/inheritance.md
  website/versioned_docs/version-2.0.0-beta.3/installation.md
  website/versioned_docs/version-2.0.0-beta.3/interfaces.md
  website/versioned_docs/version-2.0.0-beta.3/introduction.md
  website/versioned_docs/version-2.0.0-beta.3/middlewares.md
  website/versioned_docs/version-2.0.0-beta.3/nestjs.md
  website/versioned_docs/version-2.0.0-beta.3/performance.md
  website/versioned_docs/version-2.0.0-beta.3/prisma.md
  website/versioned_docs/version-2.0.0-beta.3/resolvers.md
  website/versioned_docs/version-2.0.0-beta.3/scalars.md
  website/versioned_docs/version-2.0.0-beta.3/subscriptions.md
  website/versioned_docs/version-2.0.0-beta.3/types-and-fields.md
  website/versioned_docs/version-2.0.0-beta.3/unions.md
  website/versioned_docs/version-2.0.0-beta.3/validation.md
  website/versioned_sidebars/version-2.0.0-beta.3-sidebars.json
  website/versions.json
Due: prettier --write, markdownlint --fix

chore(ci): fix workflow tags regex
  .github/workflows/ci.yml
  scripts/markdown.ts
Due: eslint --fix, prettier --write

chore: better regex
  .github/workflows/ci.yml
  scripts/markdown.ts
Due: eslint --fix, prettier --write

chore(ci): fix publish npm package step
  .github/workflows/ci.yml
Due: none

chore: better regex v2
  .github/workflows/ci.yml
  scripts/markdown.ts
Due: eslint --fix, prettier --write

chore: fix prettier
  scripts/markdown.ts
Due: eslint --fix, prettier --write

chore: better regex
  .github/workflows/ci.yml
  package.json
  scripts/markdown.ts
Due: eslint --fix, prettier --write

chore(ci): sync master with correct changes
  .github/workflows/ci.yml
Due: none

chore(ci/license): license github action
  .github/workflows/license.yml
Due: none

chore(workflow): split ci workflow in multiple workflows & fix regex
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
  README.md
  package.json
  scripts/markdown.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(workflow): fix format
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
Due: none

docs(emit-schema): remove `outputFile` from snippet
  docs/emit-schema.md
Due: prettier --write, markdownlint --fix

refactor(fs): use new node:fs module instead of own solutions
  src/helpers/filesystem.ts
  tests/functional/emit-schema-sdl.ts
Due: eslint --fix, prettier --write

feat(shim): expose as a package entry point
  CHANGELOG.md
  docs/browser-usage.md
  jest.config.ts
  package.json
  src/shim.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(workflow): remove invalid character
  .github/workflows/check.yml
Due: none

chore(workflow): remove useless config
  .github/workflows/release.yml
Due: none

Ported inputTypesInfo astNode and extensions to mapArgFields
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

Added functional test on directives for ArgsType
  tests/functional/directives.ts
  tests/helpers/directives/TestDirective.ts
Due: eslint --fix, prettier --write

chore(ci/license): license github action (#1497)
  .github/workflows/license.yml
Due: none

chore(workflow): split ci workflow in multiple workflows & fix regex (#1501)
  .github/workflows/check.yml
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .github/workflows/website.yml
  README.md
  package.json
  scripts/markdown.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Update fork codebase (#38)
  examples/advanced-api-roles-and-throws-docs/SampleObject.ts
  examples/advanced-api-roles-and-throws-docs/SampleResolver.ts
  examples/advanced-api-roles-and-throws-docs/index.ts
  package-lock.json
  package.json
  src/metadata/definitions/resolver-metadata.ts
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
  src/utils/emitSchemaDefinitionFile.ts
  tests/functional/authorization.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: ((any of: **/*.ts) or (any of: **/*.js)) or (any of: *.md)
  markdownlint --fix: any of: *.md
