Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

internal(refactor): replaced gulp taks with npm scripts, ci verify with npm script
  .github/workflows/main.yml
  cspell.json
  gulpfile.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.package.json
Due: none

refactor: use shelljs rm function instead of rimraf
  package-lock.json
  package.json
  tests/functional/emit-schema-sdl.ts
Due: eslint --fix, prettier --write

refactor: contributing file is markdownlint compliant
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

refactor: updated license year
  LICENSE
Due: none

test: jest.config.ts compatibility and working
  package-lock.json
  package.json
  tsconfig.json
Due: none

internal(contributing): fix contributing doc headers
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

internal: fix contributing empty line
  CONTRIBUTING.md
Due: prettier --write, markdownlint --fix

internal(paths): import can leverage paths starting with ~/ that points to src/
  package-lock.json
  package.json
  tsconfig.json
Due: none

internal(declarations.d.ts): removed since gulp has been removed
  src/declarations.d.ts
Due: eslint --fix, prettier --write

internal(types): types directory for reflect and type-graphql. reflect has been updated to the official index.d.ts types
  .eslintrc
  src/@types/Reflect.d.ts
  src/@types/TypeGraphQL.d.ts
Due: eslint --fix, prettier --write

chore(cspell): added shell dictionary
  package-lock.json
  package.json
Due: none

chore(github): added codeowners, funding and dependabot
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/dependabot.yml
  package.json
Due: none

chore(benchmarks): fix import statements
  benchmarks/array/type-graphql/async-field-resolvers.ts
  benchmarks/array/type-graphql/simple-resolvers.ts
  benchmarks/array/type-graphql/standard.ts
  benchmarks/array/type-graphql/sync-field-resolvers.ts
  benchmarks/array/type-graphql/sync-getters.ts
  benchmarks/array/type-graphql/with-global-middleware.ts
  benchmarks/simple/graphql-js.ts
  benchmarks/simple/type-graphql.ts
Due: none

internal: better scripting, added gitattributes and updted editorconfig and prettierignore
  .editorconfig
  .gitattributes
  .prettierignore
  package-lock.json
  package.json
Due: none

chore(cspell): add dict shell to cspell import
  cspell.json
Due: none

docs(sponsors): add VPS Server to bronze sponsors
  README.md
  img/vps-server.png
  website/pages/en/index.js
  website/static/img/vps-server.png
Due: prettier --write, markdownlint --fix

Deploy website Deploy website version based on 5cbe7521106487e31cc457ae9e7b10c1ff619c5b
  en/index.html
  img/vps-server.png
  index.html
Due: none

docs(sponsors): break bronze sponsors section into two rows
  README.md
Due: prettier --write, markdownlint --fix

Enable unknown values
  package-lock.json
  package.json
  src/resolvers/validate-arg.ts
Due: eslint --fix, prettier --write

chore(eol): force lf as end eol
  .gitattributes
  .prettierrc
Due: none

Update bootstrap.md
  docs/bootstrap.md
Due: prettier --write, markdownlint --fix

docs(sponsors): remove cancelled sponsorships
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

docs(website): update docusaurus
  website/package-lock.json
  website/package.json
Due: none

docs(examples): remove graphql modules example
  docs/examples.md
  examples/README.md
  examples/dev.js
  examples/graphql-modules/examples.gql
  examples/graphql-modules/index.ts
  examples/graphql-modules/recipe/recipe.module.ts
  examples/graphql-modules/recipe/recipe.resolver.ts
  examples/graphql-modules/recipe/recipe.schema.gql
  examples/graphql-modules/recipe/recipe.seed.ts
  examples/graphql-modules/recipe/recipe.service.ts
  examples/graphql-modules/recipe/recipe.type.ts
  examples/graphql-modules/recipe/user.resolver.ts
  examples/graphql-modules/recipe/user.type.ts
  examples/graphql-modules/schema.gql
  examples/graphql-modules/user/recipe.resolver.ts
  examples/graphql-modules/user/recipe.type.ts
  examples/graphql-modules/user/user-schema.gql
  examples/graphql-modules/user/user.module.ts
  examples/graphql-modules/user/user.resolver.ts
  examples/graphql-modules/user/user.seed.ts
  examples/graphql-modules/user/user.service.ts
  examples/graphql-modules/user/user.type.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(examples): fix types issues in code examples
  examples/mikro-orm/entities/rate.ts
  examples/mikro-orm/helpers.ts
  examples/redis-subscriptions/index.ts
  examples/typegoose/entities/recipe.ts
  examples/typegoose/entities/user.ts
  examples/typegoose/helpers.ts
  examples/typegoose/index.ts
  examples/typegoose/object-id.scalar.ts
  examples/typegoose/resolvers/recipe-resolver.ts
  examples/typegoose/resolvers/types/rate-input.ts
  examples/typegoose/types.ts
  examples/typeorm-basic-usage/resolvers/rate-resolver.ts
  examples/typeorm-basic-usage/resolvers/recipe-resolver.ts
  examples/typeorm-basic-usage/resolvers/types/rate-input.ts
  examples/typeorm-lazy-relations/resolvers/recipe-resolver.ts
  examples/typeorm-lazy-relations/resolvers/types/rate-input.ts
  package.json
Due: eslint --fix, prettier --write

docs(examples): fix buildSubgraphSchema for apollo federation
  examples/apollo-federation/helpers/buildFederatedSchema.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(tests): extract and refactor query complexity suite
  tests/functional/query-complexity.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

chore(node): support only LTS and current stable releases
  .github/workflows/main.yml
  CHANGELOG.md
  docs/installation.md
  package.json
  tsconfig.json
Due: prettier --write, markdownlint --fix

chore(deps): update deps to newest version
  CHANGELOG.md
  babel.config.js
  examples/apollo-federation/helpers/buildFederatedSchema.ts
  package-lock.json
  package.json
  tests/functional/authorization.ts
  tests/functional/default-values.ts
  tests/functional/deprecation.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/scalars.ts
  tests/functional/unions.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(changelog): consolidate entries from v1.2.0-rc.1
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

chore(deps): update all deps and upgrade codebase
  package-lock.json
  package.json
  src/declarations.d.ts
  src/metadata/getMetadataStorage.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write

chore(deps): update all deps and upgrade codebase
  CHANGELOG.md
  examples/typegoose/typegoose-middleware.ts
  package-lock.json
  package.json
  src/resolvers/validate-arg.ts
  tests/functional/emit-schema-sdl.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(build): remove gulp scripts
  gulpfile.ts
  package.json
Due: none

chore(license): update license year
  LICENSE
Due: none

chore(editorconfig): update editorconfig
  .editorconfig
Due: none

chore(funding): update funding file
  .github/FUNDING.yml
Due: none

Deploy website Deploy website version based on d3ecacd8778c7c98d5b5f2353e2747838bd9d5d9
  docs/next/authorization.html
  docs/next/bootstrap.html
  docs/next/complexity.html
  docs/next/dependency-injection.html
  docs/next/examples.html
  docs/next/installation.html
  docs/next/subscriptions.html
Due: none

Path conditions:
  eslint --fix: any of: {src,tests,examples}/**/*.ts
  prettier --write: ((any of: {src,tests,examples}/**/*.ts) or (any of: {src,tests,examples}/**/*.js)) or (any of: *.md)
  markdownlint --fix: any of: *.md
