Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

Adjust lint issues
  .eslintignore
  .vscode/settings.json
  examples/mixin-classes/index.ts
  examples/mixin-classes/inputs/amend-user.ts
  examples/mixin-classes/inputs/create-user.ts
  examples/mixin-classes/mixins/with-id.ts
  examples/mixin-classes/mixins/with-password.ts
  examples/mixin-classes/resolver.ts
  examples/mixin-classes/types/user-details.ts
  examples/mixin-classes/types/user.ts
  examples/resolvers-inheritance/person/person.resolver.ts
  examples/resolvers-inheritance/person/person.type.ts
  examples/resolvers-inheritance/recipe/recipe.type.ts
  examples/resolvers-inheritance/resource/resource.args.ts
  examples/resolvers-inheritance/resource/resource.resolver.ts
  examples/resolvers-inheritance/resource/resource.service.factory.ts
  examples/resolvers-inheritance/resource/resource.service.ts
  examples/resolvers-inheritance/schema.graphql
  examples/tsconfig.json
Due: eslint --fix, prettier --write

Fix bootstrap error catch in examples
  .eslintignore
  examples/apollo-cache/index.ts
  examples/apollo-client/src/index.tsx
  examples/authorization/index.ts
  examples/automatic-validation/index.ts
  examples/custom-validation/index.ts
  examples/enums-and-unions/index.ts
  examples/extensions/index.ts
  examples/graphql-scalars/index.ts
  examples/interfaces-inheritance/index.ts
  examples/mikro-orm/index.ts
  examples/query-complexity/index.ts
  examples/redis-subscriptions/index.ts
  examples/resolvers-inheritance/index.ts
  examples/simple-subscriptions/index.ts
  examples/simple-usage/index.ts
  examples/tsconfig.json
  examples/tsyringe/index.ts
  examples/typegoose/index.ts
  examples/typeorm-basic-usage/index.ts
  examples/typeorm-lazy-relations/index.ts
  examples/using-container/index.ts
  examples/using-scoped-container/index.ts
Due: eslint --fix, prettier --write

Adjust middlewares example
  examples/middlewares-custom-decorators/context.ts
  examples/middlewares-custom-decorators/decorators/current-user.ts
  examples/middlewares-custom-decorators/decorators/validate-args.ts
  examples/middlewares-custom-decorators/index.ts
  examples/middlewares-custom-decorators/middlewares/error-logger.ts
  examples/middlewares-custom-decorators/middlewares/log-access.ts
  examples/middlewares-custom-decorators/middlewares/number-interceptor.ts
  examples/middlewares-custom-decorators/middlewares/resolve-time.ts
  examples/middlewares-custom-decorators/recipe/recipe.args.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
  examples/middlewares-custom-decorators/recipe/recipe.samples.ts
  examples/middlewares-custom-decorators/recipe/recipe.type.ts
  examples/middlewares-custom-decorators/user.ts
Due: eslint --fix, prettier --write

Adjust interfaces example
  .eslintignore
  examples/interfaces-inheritance/employee/employee.input.ts
  examples/interfaces-inheritance/employee/employee.type.ts
  examples/interfaces-inheritance/helpers.ts
  examples/interfaces-inheritance/index.ts
  examples/interfaces-inheritance/person/person.input.ts
  examples/interfaces-inheritance/person/person.interface.ts
  examples/interfaces-inheritance/person/person.type.ts
  examples/interfaces-inheritance/resolver.ts
  examples/interfaces-inheritance/resource/resource.interface.ts
  examples/interfaces-inheritance/schema.graphql
  examples/interfaces-inheritance/student/student.input.ts
  examples/interfaces-inheritance/student/student.type.ts
  examples/tsconfig.json
Due: eslint --fix, prettier --write

Adjust federation example
  .eslintignore
  cspell.json
  examples/apollo-federation/accounts/data.ts
  examples/apollo-federation/accounts/index.ts
  examples/apollo-federation/accounts/resolver.ts
  examples/apollo-federation/accounts/user-reference.ts
  examples/apollo-federation/accounts/user.ts
  examples/apollo-federation/helpers/buildFederatedSchema.ts
  examples/apollo-federation/index.ts
  examples/apollo-federation/inventory/index.ts
  examples/apollo-federation/inventory/product-reference.ts
  examples/apollo-federation/inventory/product.ts
  examples/apollo-federation/inventory/resolver.ts
  examples/apollo-federation/products/data.ts
  examples/apollo-federation/products/index.ts
  examples/apollo-federation/products/product-reference.ts
  examples/apollo-federation/products/product.ts
  examples/apollo-federation/products/resolver.ts
  examples/apollo-federation/reviews/index.ts
  examples/apollo-federation/reviews/product/product.ts
  examples/apollo-federation/reviews/product/resolver.ts
  examples/apollo-federation/reviews/review/data.ts
  examples/apollo-federation/reviews/review/resolver.ts
  examples/apollo-federation/reviews/review/review.ts
  examples/apollo-federation/reviews/user/resolver.ts
  examples/apollo-federation/reviews/user/user.ts
  examples/apollo-federation/schema.graphql
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Fix graphql schema file emitting in examples/docs/tests
  .vscode/launch.json
  docs/emit-schema.md
  examples/apollo-cache/schema.graphql
  examples/automatic-validation/schema.graphql
  examples/interfaces-inheritance/examples.graphql
  examples/interfaces-inheritance/index.ts
  examples/mikro-orm/schema.graphql
  examples/mixin-classes/examples.graphql
  examples/mixin-classes/index.ts
  examples/query-complexity/schema.graphql
  examples/resolvers-inheritance/examples.graphql
  examples/simple-subscriptions/schema.graphql
  examples/simple-usage/schema.graphql
  examples/tsyringe/index.ts
  examples/tsyringe/schema.graphql
  examples/typegoose/schema.graphql
  examples/typeorm-basic-usage/schema.graphql
  examples/typeorm-lazy-relations/examples.graphql
  examples/typeorm-lazy-relations/schema.graphql
  src/utils/buildSchema.ts
  tests/functional/emit-schema-sdl.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(changelog): fix wrong issue no
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

Deploy website Deploy website version based on 4f6085d358499597d5962185ca95cc61dbf06d04
  img/github-sponsors.svg
Due: none

docs(examples): adjust syntax of mixin example
  examples/apollo-cache/schema.graphql
  examples/apollo-federation/schema.graphql
  examples/automatic-validation/schema.graphql
  examples/interfaces-inheritance/schema.graphql
  examples/mikro-orm/schema.graphql
  examples/mixin-classes/index.ts
  examples/mixin-classes/inputs/amend-user.ts
  examples/mixin-classes/inputs/amend.user.input.ts
  examples/mixin-classes/inputs/create-user.ts
  examples/mixin-classes/inputs/create.user.input.ts
  examples/mixin-classes/inputs/index.ts
  examples/mixin-classes/mixins/index.ts
  examples/mixin-classes/mixins/with.id.ts
  examples/mixin-classes/mixins/with.password.ts
  examples/mixin-classes/resolver.ts
  examples/mixin-classes/schema.graphql
  examples/mixin-classes/types/index.ts
  examples/mixin-classes/types/user.details.ts
  examples/mixin-classes/types/user.ts
  examples/redis-subscriptions/schema.graphql
  examples/resolvers-inheritance/schema.graphql
  examples/simple-subscriptions/schema.graphql
  examples/simple-usage/schema.graphql
  examples/tsyringe/schema.graphql
  examples/typegoose/schema.graphql
  examples/typeorm-basic-usage/schema.graphql
  examples/typeorm-lazy-relations/schema.graphql
Due: eslint --fix, prettier --write

docs(examples): adjust syntax of resolver-inheritance example
  examples/resolvers-inheritance/index.ts
  examples/resolvers-inheritance/person/index.ts
  examples/resolvers-inheritance/person/person.resolver.ts
  examples/resolvers-inheritance/person/person.type.ts
  examples/resolvers-inheritance/recipe/index.ts
  examples/resolvers-inheritance/recipe/recipe.resolver.ts
  examples/resolvers-inheritance/recipe/recipe.type.ts
  examples/resolvers-inheritance/resource/index.ts
  examples/resolvers-inheritance/resource/resource.resolver.ts
  examples/resolvers-inheritance/resource/resource.service.factory.ts
Due: eslint --fix, prettier --write

docs(examples): adjust syntax of middlewares example
  examples/middlewares-custom-decorators/context.ts
  examples/middlewares-custom-decorators/context.type.ts
  examples/middlewares-custom-decorators/decorators/current-user.ts
  examples/middlewares-custom-decorators/decorators/index.ts
  examples/middlewares-custom-decorators/decorators/validate-args.ts
  examples/middlewares-custom-decorators/index.ts
  examples/middlewares-custom-decorators/logger.ts
  examples/middlewares-custom-decorators/middlewares/error-logger.ts
  examples/middlewares-custom-decorators/middlewares/index.ts
  examples/middlewares-custom-decorators/middlewares/log-access.ts
  examples/middlewares-custom-decorators/middlewares/number-interceptor.ts
  examples/middlewares-custom-decorators/recipe/index.ts
  examples/middlewares-custom-decorators/recipe/recipe.data.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
  examples/middlewares-custom-decorators/recipe/recipe.type.ts
  examples/middlewares-custom-decorators/user.type.ts
Due: eslint --fix, prettier --write

docs(examples): adjust syntax of interfaces example
  examples/interfaces-inheritance/employee/employee.input.ts
  examples/interfaces-inheritance/employee/employee.type.ts
  examples/interfaces-inheritance/employee/index.ts
  examples/interfaces-inheritance/helpers.ts
  examples/interfaces-inheritance/index.ts
  examples/interfaces-inheritance/person/index.ts
  examples/interfaces-inheritance/person/person.interface.ts
  examples/interfaces-inheritance/resolver.ts
  examples/interfaces-inheritance/resource/index.ts
  examples/interfaces-inheritance/student/index.ts
  examples/interfaces-inheritance/student/student.input.ts
  examples/interfaces-inheritance/student/student.type.ts
Due: eslint --fix, prettier --write

docs(examples): adjust syntax of apollo-federation example
  examples/apollo-federation/accounts/index.ts
  examples/apollo-federation/accounts/user.reference.ts
  examples/apollo-federation/helpers/buildFederatedSchema.ts
  examples/apollo-federation/helpers/index.ts
  examples/apollo-federation/index.ts
  examples/apollo-federation/inventory/data.ts
  examples/apollo-federation/inventory/index.ts
  examples/apollo-federation/inventory/product.reference.ts
  examples/apollo-federation/inventory/resolver.ts
  examples/apollo-federation/products/index.ts
  examples/apollo-federation/products/product.reference.ts
  examples/apollo-federation/reviews/index.ts
  examples/apollo-federation/reviews/product/index.ts
  examples/apollo-federation/reviews/product/resolver.ts
  examples/apollo-federation/reviews/review/data.ts
  examples/apollo-federation/reviews/review/index.ts
  examples/apollo-federation/reviews/review/resolver.ts
  examples/apollo-federation/reviews/review/review.ts
  examples/apollo-federation/reviews/user/index.ts
  examples/apollo-federation/reviews/user/resolver.ts
Due: eslint --fix, prettier --write

docs(examples): adjust node import
  examples/mixin-classes/index.ts
Due: eslint --fix, prettier --write

fix(validation): make custom validate fn work with arrays
  CHANGELOG.md
  src/interfaces/ValidatorFn.ts
  src/resolvers/helpers.ts
  src/resolvers/validate-arg.ts
  src/schema/build-context.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat(validation): inject resolver data to custom validate fn
  CHANGELOG.md
  src/decorators/createMethodDecorator.ts
  src/decorators/createParamDecorator.ts
  src/interfaces/AuthChecker.ts
  src/interfaces/Middleware.ts
  src/interfaces/ResolverData.ts
  src/interfaces/ValidatorFn.ts
  src/resolvers/helpers.ts
  src/resolvers/validate-arg.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(sponsors): update sponsors image
  img/github-sponsors.svg
  website/static/img/github-sponsors.svg
Due: none

chore(deps): updated deps and corresponding files
  benchmarks/array/type-graphql/sync-getters.ts
  examples/mikro-orm/index.ts
  jest.config.ts
  package-lock.json
  package.json
  scripts/tsconfig.json
  src/schema/schema-generator.ts
  src/utils/graphql-version.ts
Due: eslint --fix, prettier --write

docs(examples): added type module for esm example
  examples/esm/.eslintrc
  examples/esm/package.json
Due: none

Update ignore files and fix lint config
  .eslintignore
  .prettierignore
  examples/tsconfig.json
Due: none

Fix esm example tsconfig
  .eslintrc
  examples/esm/tsconfig.json
  examples/tsconfig.esm.json
  examples/tsconfig.json
  package.json
Due: none

Remove build examples scripts
  .github/workflows/ci.yml
  examples/tsconfig.esm.json
  examples/tsconfig.json
  package.json
Due: none

Remove Apollo Client local state example
  .vscode/launch.json
  docs/examples.md
  examples/README.md
  examples/apollo-client/.gitignore
  examples/apollo-client/.parcelrc
  examples/apollo-client/mocks/empty-module.js
  examples/apollo-client/mocks/utils.js
  examples/apollo-client/package-lock.json
  examples/apollo-client/package.json
  examples/apollo-client/src/App.tsx
  examples/apollo-client/src/Counter/Counter.tsx
  examples/apollo-client/src/Counter/DecrementButton.tsx
  examples/apollo-client/src/Counter/IncrementButton.tsx
  examples/apollo-client/src/Counter/counter.resolver.ts
  examples/apollo-client/src/Counter/counter.type.ts
  examples/apollo-client/src/apollo/client.ts
  examples/apollo-client/src/apollo/context.ts
  examples/apollo-client/src/index.html
  examples/apollo-client/src/index.tsx
  examples/apollo-client/tsconfig.json
  examples/tsconfig.json
Due: eslint --fix, prettier --write, markdownlint --fix

Fix check package.json script
  scripts/package.json.ts
Due: eslint --fix, prettier --write

Remove esm example
  .eslintrc
  .vscode/launch.json
  docs/examples.md
  examples/README.md
  examples/esm/.eslintrc
  examples/esm/examples.graphql
  examples/esm/index.ts
  examples/esm/package.json
  examples/esm/recipe.data.ts
  examples/esm/recipe.input.ts
  examples/esm/recipe.resolver.ts
  examples/esm/recipe.type.ts
  examples/esm/schema.graphql
  examples/esm/tsconfig.json
  examples/tsconfig.json
Due: eslint --fix, prettier --write, markdownlint --fix

Add info about ESM support in docs
  CHANGELOG.md
  docs/esm.md
  docs/installation.md
  tsconfig.esm.json
  website/i18n/en.json
  website/sidebars.json
Due: prettier --write, markdownlint --fix

Bump dependencies
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

chore(ci): fix workspace with prefix
  .github/workflows/ci.yml
Due: none

chore(eslint): fix typescript eslint rules
  .eslintrc
  examples/enums-and-unions/resolver.ts
  src/@types/Reflect.d.ts
  src/decorators/Authorized.ts
  src/decorators/UseMiddleware.ts
  src/decorators/types.ts
  src/helpers/decorators.ts
  src/helpers/utils.ts
  src/metadata/definitions/field-metadata.ts
  src/metadata/definitions/middleware-metadata.ts
  src/metadata/definitions/resolver-metadata.ts
  src/metadata/metadata-storage.ts
  src/metadata/utils.ts
  src/resolvers/helpers.ts
  src/schema/build-context.ts
  src/schema/schema-generator.ts
  src/utils/container.ts
  tests/functional/fields.ts
  tests/functional/resolvers.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write

chore(ci): more robust regex
  .github/workflows/ci.yml
Due: none

chore(metadata): global declaration in source
  src/@types/TypeGraphQL.d.ts
  src/metadata/getMetadataStorage.ts
Due: eslint --fix, prettier --write

chore(ci): fix semver comparison result
  .github/workflows/ci.yml
Due: none

Properly configure lint staged
  .lintstagedrc
Due: none

Fix import/no-cycle
  examples/.eslintrc
  examples/apollo-federation/reviews/product/index.ts
  examples/apollo-federation/reviews/product/resolver.ts
  examples/apollo-federation/reviews/review/data.ts
  examples/apollo-federation/reviews/review/index.ts
  examples/apollo-federation/reviews/review/resolver.ts
  examples/apollo-federation/reviews/review/review.ts
  examples/apollo-federation/reviews/user/index.ts
  examples/apollo-federation/reviews/user/resolver.ts
  examples/mikro-orm/entities/rating.ts
  examples/mikro-orm/entities/recipe.ts
  examples/typeorm-basic-usage/entities/rating.ts
  examples/typeorm-basic-usage/entities/recipe.ts
  examples/typeorm-lazy-relations/entities/rating.ts
  examples/typeorm-lazy-relations/entities/recipe.ts
  examples/typeorm-lazy-relations/entities/user.ts
Due: eslint --fix, prettier --write

Improve directives docs
  cspell.json
  docs/directives.md
Due: prettier --write, markdownlint --fix

docs(sponsors): remove Lovd from silver sponsors
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: ((any of: **/*.ts) or (any of: **/*.js)) or (any of: *.md)
  markdownlint --fix: any of: *.md
