Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.js": ["prettier --write"],
  "*.md": ["markdownlint --fix", "prettier --write"]
}

feat(errors): make runtime errors extending GraphQLError
  CHANGELOG.md
  src/errors/ArgumentValidationError.ts
  src/errors/ForbiddenError.ts
  src/errors/UnauthorizedError.ts
  src/errors/graphql/ArgumentValidationError.ts
  src/errors/graphql/AuthenticationError.ts
  src/errors/graphql/AuthorizationError.ts
  src/errors/graphql/index.ts
  src/errors/index.ts
  src/helpers/auth-middleware.ts
  src/resolvers/validate-arg.ts
  tests/functional/authorization.ts
  tests/functional/directives.ts
  tests/functional/middlewares.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Deploy website Deploy website version based on de0336896bc0cf070b87ae8a2c3297a098233bc4
  img/github-sponsors.svg
Due: none

docs(emit-schema): info about removing `commentDescriptions` option
  CHANGELOG.md
  docs/emit-schema.md
Due: prettier --write, markdownlint --fix

Deploy website Deploy website version based on 75f865af5a1359feb14d84a63e49a9a6d0786254
  docs/next/emit-schema.html
Due: none

feat(types): change `ClassType` constraint to `T extends object`
  CHANGELOG.md
  docs/generic-types.md
  examples/generic-types/paginated-response.type.ts
  src/interfaces/ClassType.ts
  tests/functional/generic-types.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Deploy website Deploy website version based on 45f0d9384370a6525451a79ff83ea7ebeac2a9dc
  docs/next/generic-types.html
Due: none

Use `GraphQLDateTimeISO` from `graphql-scalars`
  CHANGELOG.md
  package-lock.json
  package.json
  src/scalars/GraphQLISODateTime.ts
  src/scalars/index.ts
  tests/functional/fields.ts
  tests/functional/generic-types.ts
  tests/functional/scalars.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat(scalars): use `graphql-scalars` date scalars
  CHANGELOG.md
  docs/installation.md
  docs/nestjs.md
  docs/scalars.md
  package-lock.json
  package.json
  src/helpers/types.ts
  src/scalars/GraphQLISODateTime.ts
  src/scalars/index.ts
  src/scalars/isodate.ts
  src/scalars/timestamp.ts
  src/schema/build-context.ts
  tests/functional/scalars.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Fix rebase issues
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

docs(examples): fixed esm examples
  examples/esm/.eslintrc
  examples/esm/package.json
  examples/tsconfig.esm.json
  examples/tsconfig.json
  scripts/package.json.ts
Due: eslint --fix, prettier --write

upgrade apollo/subgraph
  package-lock.json
  package.json
Due: none

Fix error when resolving interface in federation
  examples/apollo-federation/accounts/user.ts
  examples/apollo-federation/helpers/buildFederatedSchema.ts
  examples/apollo-federation/inventory/product.ts
  examples/apollo-federation/products/data.ts
  examples/apollo-federation/products/dining.ts
  examples/apollo-federation/products/product.ts
  examples/apollo-federation/products/seating.ts
  examples/apollo-federation/reviews/product/product.ts
Due: eslint --fix, prettier --write

Add npm script for running an example
  examples/README.md
  package.json
Due: prettier --write, markdownlint --fix

docs(examples): add instructions how to run examples
  docs/examples.md
  examples/README.md
Due: prettier --write, markdownlint --fix

Deploy website Deploy website version based on c8ba0b576b61805e1e8bc6a3adfc7afdf1eff9c6
  docs/next/examples.html
Due: none

feat(scalars): use Date scalars from `graphql-scalars` package (#1435)
  CHANGELOG.md
  docs/installation.md
  docs/nestjs.md
  docs/scalars.md
  package-lock.json
  package.json
  src/helpers/types.ts
  src/scalars/index.ts
  src/scalars/isodate.ts
  src/scalars/timestamp.ts
  src/schema/build-context.ts
  tests/functional/fields.ts
  tests/functional/generic-types.ts
  tests/functional/scalars.ts
  tests/functional/typedefs-resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Deploy website Deploy website version based on 480ec1ddef07e3852d7103d8113114e44091c7f1
  docs/next/installation.html
  docs/next/nestjs.html
  docs/next/scalars.html
Due: none

chore: add lambda example
  examples/aws-lambda/examples.gql
  examples/aws-lambda/index.ts
  examples/aws-lambda/recipe-input.ts
  examples/aws-lambda/recipe-resolver.ts
  examples/aws-lambda/recipe-samples.ts
  examples/aws-lambda/recipe-type.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(ci): Node.js 20
  .github/workflows/ci.yml
Due: none

chore(ci): use 18.x in steps
  .github/workflows/ci.yml
Due: none

Misc fixes
  .vscode/settings.json
  benchmarks/simple/run.ts
  docs/validation.md
  examples/using-scoped-container/recipe/recipe.data.ts
  jest.config.ts
  package.json
  src/errors/graphql/ArgumentValidationError.ts
  src/errors/graphql/AuthenticationError.ts
  src/errors/graphql/AuthorizationError.ts
  src/metadata/metadata-storage.ts
  src/utils/createResolversMap.ts
  src/utils/graphql-version.ts
  tests/functional/authorization.ts
  tests/functional/circular-refs.ts
  tests/functional/directives.ts
  tests/functional/emit-schema-sdl.ts
  tests/functional/errors/metadata-polyfill.ts
  tests/functional/fields.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/resolvers.ts
  tests/functional/subscriptions.ts
  tests/helpers/expectToThrow.ts
  website/package-lock.json
Due: eslint --fix, prettier --write, markdownlint --fix

Remove format package json
  package-lock.json
  package.json
Due: none

chore(sponsors): update sponsors image
  img/github-sponsors.svg
  website/static/img/github-sponsors.svg
Due: none

Add check tests script
  package.json
Due: none

Adjust .env files
  examples/mikro-orm/.env
  examples/mikro-orm/.env.template
  examples/mikro-orm/.gitignore
  examples/typegoose/.env.template
  examples/typeorm-basic-usage/.env
  examples/typeorm-basic-usage/.env.template
  examples/typeorm-basic-usage/.gitignore
  examples/typeorm-lazy-relations/.env
  examples/typeorm-lazy-relations/.env.template
  examples/typeorm-lazy-relations/.gitignore
Due: none

Adjust typegoose example
  examples/tsconfig.json
  examples/typegoose/entities/rate.ts
  examples/typegoose/entities/recipe.ts
  examples/typegoose/entities/user.ts
  examples/typegoose/index.ts
  examples/typegoose/resolvers/rate-resolver.ts
  examples/typegoose/resolvers/recipe-resolver.ts
  examples/typegoose/resolvers/types/rate-input.ts
  examples/typegoose/resolvers/types/recipe-input.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Adjust simple-subscriptions example
  examples/simple-subscriptions/index.ts
  examples/simple-subscriptions/notification.type.ts
  examples/simple-subscriptions/resolver.ts
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

move federation 2 example into its own example
  .vscode/launch.json
  examples/apollo-federation-2/accounts/data.ts
  examples/apollo-federation-2/accounts/index.ts
  examples/apollo-federation-2/accounts/resolver.ts
  examples/apollo-federation-2/accounts/user-reference.ts
  examples/apollo-federation-2/accounts/user.ts
  examples/apollo-federation-2/examples.graphql
  examples/apollo-federation-2/helpers/buildFederatedSchema.ts
  examples/apollo-federation-2/index.ts
  examples/apollo-federation-2/inventory/data.ts
  examples/apollo-federation-2/inventory/index.ts
  examples/apollo-federation-2/inventory/product-reference.ts
  examples/apollo-federation-2/inventory/product.ts
  examples/apollo-federation-2/inventory/resolver.ts
  examples/apollo-federation-2/products/data.ts
  examples/apollo-federation-2/products/dining.ts
  examples/apollo-federation-2/products/index.ts
  examples/apollo-federation-2/products/product-reference.ts
  examples/apollo-federation-2/products/product.ts
  examples/apollo-federation-2/products/resolver.ts
  examples/apollo-federation-2/products/seating.ts
  examples/apollo-federation-2/reviews/index.ts
  examples/apollo-federation-2/reviews/product/product.ts
  examples/apollo-federation-2/reviews/product/resolver.ts
  examples/apollo-federation-2/reviews/review/data.ts
  examples/apollo-federation-2/reviews/review/resolver.ts
  examples/apollo-federation-2/reviews/review/review.ts
  examples/apollo-federation-2/reviews/user/resolver.ts
  examples/apollo-federation-2/reviews/user/user.ts
  examples/apollo-federation-2/schema.graphql
Due: eslint --fix, prettier --write

docs(examples): fix typegoose example
  .eslintignore
  examples/mikro-orm/.env.example
  examples/typegoose/.env.example
  examples/typegoose/context.type.ts
  examples/typegoose/entities/index.ts
  examples/typegoose/entities/rating.ts
  examples/typegoose/entities/recipe.ts
  examples/typegoose/entities/user.ts
  examples/typegoose/examples.graphql
  examples/typegoose/helpers.ts
  examples/typegoose/index.ts
  examples/typegoose/resolvers/index.ts
  examples/typegoose/resolvers/rate-resolver.ts
  examples/typegoose/resolvers/rating.resolver.ts
  examples/typegoose/resolvers/recipe.resolver.ts
  examples/typegoose/resolvers/types/index.ts
  examples/typegoose/resolvers/types/rating.input.ts
  examples/typegoose/resolvers/types/recipe.input.ts
  examples/typegoose/schema.graphql
  examples/typegoose/typegoose.middleware.ts
  examples/typegoose/types.ts
  examples/typeorm-basic-usage/.env.example
  examples/typeorm-lazy-relations/.env.example
  package.json
Due: eslint --fix, prettier --write

docs(examples): fix simple-subscriptions example
  .eslintignore
  examples/simple-subscriptions/examples.graphql
  examples/simple-subscriptions/index.ts
  examples/simple-subscriptions/notification.type.ts
  examples/simple-subscriptions/resolver.ts
  examples/simple-subscriptions/schema.graphql
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs(examples): fix redis-subscriptions example
  .eslintignore
  examples/redis-subscriptions/.env.example
  examples/redis-subscriptions/comment.input.ts
  examples/redis-subscriptions/comment.type.ts
  examples/redis-subscriptions/index.ts
  examples/redis-subscriptions/newComment.interface.ts
  examples/redis-subscriptions/recipe.data.ts
  examples/redis-subscriptions/recipe.resolver.args.ts
  examples/redis-subscriptions/recipe.resolver.ts
  examples/redis-subscriptions/recipe.type.ts
  examples/redis-subscriptions/topics.ts
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs(examples): rename rate to rating
  examples/mikro-orm/examples.gql
  examples/mikro-orm/schema.graphql
  examples/typegoose/examples.graphql
  examples/typegoose/resolvers/rating.resolver.ts
  examples/typegoose/resolvers/recipe.resolver.ts
  examples/typegoose/schema.graphql
  examples/typeorm-basic-usage/entities/rating.ts
  examples/typeorm-basic-usage/entities/recipe.ts
  examples/typeorm-basic-usage/examples.graphql
  examples/typeorm-basic-usage/resolvers/rating.resolver.ts
  examples/typeorm-basic-usage/resolvers/recipe.resolver.ts
  examples/typeorm-basic-usage/schema.graphql
  examples/typeorm-lazy-relations/entities/recipe.ts
  examples/typeorm-lazy-relations/examples.gql
  examples/typeorm-lazy-relations/resolvers/recipe.resolver.ts
  examples/typeorm-lazy-relations/schema.graphql
Due: eslint --fix, prettier --write

docs(examples): fix mikro-orm example
  .eslintignore
  examples/mikro-orm/context.type.ts
  examples/mikro-orm/entities/index.ts
  examples/mikro-orm/entities/rate.ts
  examples/mikro-orm/entities/rating.ts
  examples/mikro-orm/entities/recipe.ts
  examples/mikro-orm/entities/user.ts
  examples/mikro-orm/examples.graphql
  examples/mikro-orm/helpers.ts
  examples/mikro-orm/index.ts
  examples/mikro-orm/resolvers/index.ts
  examples/mikro-orm/resolvers/inputs/rate-input.ts
  examples/mikro-orm/resolvers/rate-resolver.ts
  examples/mikro-orm/resolvers/rating.resolver.ts
  examples/mikro-orm/resolvers/recipe-resolver.ts
  examples/mikro-orm/resolvers/recipe.resolver.ts
  examples/mikro-orm/resolvers/types/index.ts
  examples/mikro-orm/resolvers/types/rating.input.ts
  examples/mikro-orm/resolvers/types/recipe.input.ts
  examples/mikro-orm/types.ts
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Adjust redis-subscriptions example
  examples/redis-subscriptions/schema.graphql
  examples/tsconfig.json
  package-lock.json
  package.json
Due: none

Adjust mixins and inheritance examples
  examples/mixin-classes/index.ts
  examples/mixin-classes/inputs/amend-user.ts
  examples/mixin-classes/inputs/create-user.ts
  examples/mixin-classes/mixins/with-id.ts
  examples/mixin-classes/mixins/with-password.ts
  examples/mixin-classes/resolver.ts
  examples/mixin-classes/schema.graphql
  examples/mixin-classes/types/user-details.ts
  examples/mixin-classes/types/user.ts
  examples/resolvers-inheritance/index.ts
  examples/resolvers-inheritance/person/person.resolver.ts
  examples/resolvers-inheritance/person/person.type.ts
  examples/resolvers-inheritance/recipe/recipe.resolver.ts
  examples/resolvers-inheritance/recipe/recipe.type.ts
  examples/resolvers-inheritance/resource/resource.resolver.ts
  examples/resolvers-inheritance/resource/resource.service.ts
  examples/resolvers-inheritance/schema.graphql
Due: eslint --fix, prettier --write
