Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.md": ["markdownlint --fix", "prettier --write"],
  "!**/*.{ts,md}": "prettier --write --ignore-unknown"
}

fix: remove use of "any" types in cache type definitions
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

Rework HashMap cache to avoid stringify
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

Add changelog entry
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

feat(schema): optimize performance of building metadata storage (#1779)
  CHANGELOG.md
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
  tests/functional/authorization.ts
  tests/functional/middlewares.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(sponsors): add fun88 to bronze sponsors
  README.md
  images/fun88.png
  website/pages/en/index.js
  website/static/img/fun88.png
Due: prettier --write, markdownlint --fix

release: 2.0.0-rc.3
  CHANGELOG.md
  package-lock.json
  package.json
  website/i18n/en.json
  website/versioned_docs/version-2.0.0-rc.3/authorization.md
  website/versioned_docs/version-2.0.0-rc.3/complexity.md
  website/versioned_docs/version-2.0.0-rc.3/custom-decorators.md
  website/versioned_docs/version-2.0.0-rc.3/dependency-injection.md
  website/versioned_docs/version-2.0.0-rc.3/emit-schema.md
  website/versioned_docs/version-2.0.0-rc.3/examples.md
  website/versioned_docs/version-2.0.0-rc.3/extensions.md
  website/versioned_docs/version-2.0.0-rc.3/generic-types.md
  website/versioned_docs/version-2.0.0-rc.3/inheritance.md
  website/versioned_docs/version-2.0.0-rc.3/installation.md
  website/versioned_docs/version-2.0.0-rc.3/interfaces.md
  website/versioned_docs/version-2.0.0-rc.3/middlewares.md
  website/versioned_docs/version-2.0.0-rc.3/resolvers.md
  website/versioned_docs/version-2.0.0-rc.3/subscriptions.md
  website/versioned_docs/version-2.0.0-rc.3/unions.md
  website/versioned_docs/version-2.0.0-rc.3/validation.md
  website/versions.json
Due: prettier --write, markdownlint --fix

chore(workflow): use OIDC ID token for npm release
  .github/workflows/release.yml
Due: none

Reproduce duplicate resolvers params issue
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

Clear metadata storage cache before subsequent builds
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

Cleanup schema generator after build
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

Further optimize Map usage in schema generator
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

Fix review issues
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

Clone metadata storage on schema build
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

fix(schema): repair cache issues in building metadata storage (#1803)
  CHANGELOG.md
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(sponsors): add fbpostlikes to bronze section
  README.md
  cspell.json
  images/fbpostlikes.webp
  website/pages/en/index.js
  website/static/img/fbpostlikes.webp
Due: prettier --write, markdownlint --fix

release: 2.0.0-rc.4
  CHANGELOG.md
  package-lock.json
  package.json
  website/i18n/en.json
  website/versioned_docs/version-2.0.0-rc.4/authorization.md
  website/versioned_docs/version-2.0.0-rc.4/complexity.md
  website/versioned_docs/version-2.0.0-rc.4/custom-decorators.md
  website/versioned_docs/version-2.0.0-rc.4/dependency-injection.md
  website/versioned_docs/version-2.0.0-rc.4/examples.md
  website/versioned_docs/version-2.0.0-rc.4/extensions.md
  website/versioned_docs/version-2.0.0-rc.4/generic-types.md
  website/versioned_docs/version-2.0.0-rc.4/inheritance.md
  website/versioned_docs/version-2.0.0-rc.4/interfaces.md
  website/versioned_docs/version-2.0.0-rc.4/middlewares.md
  website/versioned_docs/version-2.0.0-rc.4/resolvers.md
  website/versioned_docs/version-2.0.0-rc.4/subscriptions.md
  website/versioned_docs/version-2.0.0-rc.4/unions.md
  website/versioned_docs/version-2.0.0-rc.4/validation.md
  website/versions.json
Due: prettier --write, markdownlint --fix

fix(schema): match field resolvers by schemaName instead of methodName (#961)
  src/schema/schema-generator.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

fix(schema): match field resolvers by schemaName instead of methodName (#1806)
  CHANGELOG.md
  src/schema/schema-generator.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat(schema): add directives support to registerEnumType
  src/decorators/enums.ts
  src/decorators/types.ts
  src/metadata/definitions/enum-metadata.ts
  src/schema/definition-node.ts
  src/schema/schema-generator.ts
  tests/functional/enums.ts
  tests/helpers/directives/assertValidDirective.ts
Due: eslint --fix, prettier --write

docs(sponsors): add buy.fans to bronze section
  README.md
  cspell.json
  images/buyfans.png
  website/pages/en/index.js
  website/static/img/buyfans.png
Due: prettier --write, markdownlint --fix

docs: complete v2.0 migration guide and add announcement blog post
  docs/migration-guide.md
  website/blog/2026-03-26-typegraphql-2.md
Due: prettier --write, markdownlint --fix

docs: add missing v2.0 features to blog post and graphql v16 note to migration guide
  docs/migration-guide.md
  website/blog/2026-03-26-typegraphql-2.md
Due: prettier --write, markdownlint --fix

Update website/blog/2026-03-26-typegraphql-2.md
  website/blog/2026-03-26-typegraphql-2.md
Due: prettier --write, markdownlint --fix

docs(blog): expand performance section with detailed v2.0 improvements
  website/blog/2026-03-26-typegraphql-2.md
Due: prettier --write, markdownlint --fix

chore(sponsors): update sponsors image
  images/github-sponsors.svg
  website/static/img/github-sponsors.svg
Due: none

docs(sponsors): add punchngr to bronze section
  README.md
  cspell.json
  images/punchng.png
  website/pages/en/index.js
  website/static/img/punchng.png
Due: prettier --write, markdownlint --fix

perf: dispatch AuthMiddleware and middlewares synchronously when possible
  src/helpers/auth-middleware.ts
  src/resolvers/helpers.ts
  src/typings/middleware.ts
Due: eslint --fix, prettier --write

fix: keep NextFn as Promise<any> so middleware return-await stays valid
  src/typings/middleware.ts
  tests/functional/authorization.ts
  tests/functional/middlewares.ts
Due: eslint --fix, prettier --write

test: cover single function middleware dispatch
  tests/functional/middlewares.ts
Due: eslint --fix, prettier --write

perf: fast-path applyMiddlewares for a single function middleware
  src/resolvers/helpers.ts
Due: eslint --fix, prettier --write

test: cover async auth-checker dispatch branches in AuthMiddleware
  tests/functional/authorization.ts
Due: eslint --fix, prettier --write

chore(coverage): exclude non-executable type-only typings
  jest.config.cts
  src/typings/middleware.ts
Due: eslint --fix, prettier --write

docs(sponsors): add new bronze sponsors
  README.md
  cspell.json
  images/buying-youtube-subscribers.png
  images/jazzonline.webp
  images/jbo-vietnam.png
  images/online-casinos-gr.webp
  website/pages/en/index.js
  website/static/img/buying-youtube-subscribers.png
  website/static/img/jazzonline.webp
  website/static/img/jbo-vietnam.png
  website/static/img/online-casinos-gr.webp
Due: prettier --write, markdownlint --fix

docs(sponsors): add new bronze sponsors
  README.md
  cspell.json
  images/buy-linkedin-followers.png
  images/casino-non-aams.webp
  website/pages/en/index.js
  website/static/img/buy-linkedin-followers.png
  website/static/img/casino-non-aams.webp
Due: prettier --write, markdownlint --fix

docs(sponsors): remove outdated sponsors
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

perf(schema): remove O(N²) field-resolver lookup in buildTypesInfo
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write
