Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

Tune eslint rules
  .eslintrc
  .vscode/settings.json
  tests/functional/directives.ts
Due: eslint --fix, prettier --write

Change workspace extension recommendation
  .vscode/extensions.json
Due: none

docs: absolute path for examples
  docs/authorization.md
  docs/complexity.md
  docs/custom-decorators.md
  docs/dependency-injection.md
  docs/examples.md
  docs/extensions.md
  docs/generic-types.md
  docs/inheritance.md
  docs/interfaces.md
  docs/middlewares.md
  docs/resolvers.md
  docs/subscriptions.md
  docs/unions.md
  docs/validation.md
Due: prettier --write, markdownlint --fix

docs: use sh instead of prisma in code block
  docs/prisma.md
Due: prettier --write, markdownlint --fix

Fix bootstrap docs
  docs/bootstrap.md
Due: prettier --write, markdownlint --fix

docs(website): updated url to match corresponding tag
  website/versioned_docs/version-0.16.0/authorization.md
  website/versioned_docs/version-0.16.0/complexity.md
  website/versioned_docs/version-0.16.0/dependency-injection.md
  website/versioned_docs/version-0.16.0/interfaces-and-inheritance.md
  website/versioned_docs/version-0.16.0/resolvers.md
  website/versioned_docs/version-0.16.0/subscriptions.md
  website/versioned_docs/version-0.16.0/validation.md
  website/versioned_docs/version-0.17.0/authorization.md
  website/versioned_docs/version-0.17.0/complexity.md
  website/versioned_docs/version-0.17.0/dependency-injection.md
  website/versioned_docs/version-0.17.0/generic-types.md
  website/versioned_docs/version-0.17.0/inheritance.md
  website/versioned_docs/version-0.17.0/interfaces.md
  website/versioned_docs/version-0.17.0/resolvers.md
  website/versioned_docs/version-0.17.0/subscriptions.md
  website/versioned_docs/version-0.17.0/validation.md
  website/versioned_docs/version-0.17.1/authorization.md
  website/versioned_docs/version-0.17.1/complexity.md
  website/versioned_docs/version-0.17.1/dependency-injection.md
  website/versioned_docs/version-0.17.1/generic-types.md
  website/versioned_docs/version-0.17.1/inheritance.md
  website/versioned_docs/version-0.17.1/interfaces.md
  website/versioned_docs/version-0.17.1/resolvers.md
  website/versioned_docs/version-0.17.1/subscriptions.md
  website/versioned_docs/version-0.17.1/validation.md
  website/versioned_docs/version-0.17.5/dependency-injection.md
  website/versioned_docs/version-1.2.0-rc.1/authorization.md
  website/versioned_docs/version-1.2.0-rc.1/complexity.md
  website/versioned_docs/version-1.2.0-rc.1/custom-decorators.md
  website/versioned_docs/version-1.2.0-rc.1/dependency-injection.md
  website/versioned_docs/version-1.2.0-rc.1/examples.md
  website/versioned_docs/version-1.2.0-rc.1/extensions.md
  website/versioned_docs/version-1.2.0-rc.1/generic-types.md
  website/versioned_docs/version-1.2.0-rc.1/interfaces.md
  website/versioned_docs/version-1.2.0-rc.1/middlewares.md
  website/versioned_docs/version-1.2.0-rc.1/performance.md
  website/versioned_docs/version-1.2.0-rc.1/resolvers.md
  website/versioned_docs/version-1.2.0-rc.1/subscriptions.md
  website/versioned_docs/version-1.2.0-rc.1/unions.md
  website/versioned_docs/version-1.2.0-rc.1/validation.md
Due: prettier --write, markdownlint --fix

Replace prettier plugin with prettier config
  .eslintrc
  package-lock.json
  package.json
Due: none

docs: fixed markdownlint
  .markdownlintignore
  website/pages/snippets/object-type.md
  website/pages/snippets/testability.md
  website/pages/snippets/typeorm.md
  website/pages/snippets/validation.md
Due: prettier --write, markdownlint --fix

chire: moved engine and peerdeps to top
  package.json
Due: none

chore: fix eslint
  benchmarks/array/graphql-js/async.ts
  src/metadata/utils.ts
  tests/functional/unions.ts
Due: eslint --fix, prettier --write

chore: fix eslint rule
  .eslintrc
  src/metadata/metadata-storage.ts
  src/resolvers/helpers.ts
  src/schema/definition-node.ts
  src/schema/schema-generator.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/typedefs-resolvers.ts
  tests/functional/unions.ts
Due: eslint --fix, prettier --write

Remove esnext.asynciterable which is part of ES2018
  docs/installation.md
  tsconfig.json
Due: prettier --write, markdownlint --fix

chore(eslint): fix rule
  .eslintrc
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

chore: added sponsorkit, first try
  .eslintignore
  .github/workflows/sponsor.yml
  README.md
  cspell.json
  images/.gitignore
  package-lock.json
  package.json
  sponsorkit.config.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(esm): esm and cjs support
  .eslintrc
  package.json
  scripts/package.json.ts
  scripts/tsconfig.json
  tsconfig.cjs.json
  tsconfig.esm.json
Due: eslint --fix, prettier --write

chore(scripts): single script for each check in package.json
  package.json
Due: none

Configure sponsorkit
  .gitignore
  package-lock.json
  package.json
  sponsorkit.config.ts
Due: eslint --fix, prettier --write

Add github sponsors image to readme and website
  README.md
  img/github-sponsors.svg
  website/pages/en/index.js
  website/static/img/github-sponsors.svg
Due: prettier --write, markdownlint --fix

Configure cron workflow to auto updating
  .github/workflows/sponsor.yml
Due: none

chore(sponsors): removed sponsorkit
  .eslintignore
  .github/workflows/sponsor.yml
  README.md
  cspell.json
  images/.gitignore
  package-lock.json
  package.json
  sponsorkit.config.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore: esm better
  package.json
Due: none

chore(sponsors): autogenerate GitHub sponsors image (#1428)
  .github/workflows/sponsor.yml
  .gitignore
  README.md
  img/github-sponsors.svg
  package-lock.json
  package.json
  sponsorkit.config.ts
  website/pages/en/index.js
  website/static/img/github-sponsors.svg
Due: eslint --fix, prettier --write, markdownlint --fix

Deploy website Deploy website version based on debd338e9ddf15696ce14275449d87536e3a0ab4
  en/index.html
  img/github-sponsors.svg
  index.html
Due: none

chore(sponsors): update sponsors image
  img/github-sponsors.svg
  website/static/img/github-sponsors.svg
Due: none

chore(fix): package lock
  package-lock.json
Due: none

chore: generate absolute image path in readme when publishing
  README.md
  package.json
  scripts/.eslintrc
  scripts/package.json.ts
  scripts/readme.md.ts
Due: eslint --fix, prettier --write, markdownlint --fix

refactor: graphql errors
  src/errors/ArgumentValidationError.ts
  src/errors/ForbiddenError.ts
  src/errors/UnauthorizedError.ts
  src/errors/graphql/ArgumentValidationError.ts
  src/errors/graphql/AuthenticationError.ts
  src/errors/graphql/AuthorizationError.ts
  src/errors/graphql/index.ts
  src/errors/index.ts
  src/helpers/auth-middleware.ts
  src/resolvers/validate-arg.ts
  tests/functional/authorization.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write

Update directives.md
  docs/directives.md
Due: prettier --write, markdownlint --fix

docs(directives): add link to emit schema with directives (#1432)
  docs/directives.md
Due: prettier --write, markdownlint --fix

Deploy website Deploy website version based on 913bf892a34aa8a68957d0d49d273e5a9d4d418e
  docs/next/directives.html
Due: none

chore(sponsors): update sponsorkit to prevent random changes
  img/github-sponsors.svg
  package-lock.json
  package.json
  website/static/img/github-sponsors.svg
Due: none

Deploy website Deploy website version based on 456c9ddea8e6ccc0554b9688076f26e22fae4858
  img/github-sponsors.svg
Due: none

feat(schema): unify generateFromMetadata and check schema synchronously
  CHANGELOG.md
  src/schema/schema-generator.ts
  src/utils/buildSchema.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: ((any of: **/*.ts) or (any of: **/*.js)) or (any of: *.md)
  markdownlint --fix: any of: *.md
