Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "**/*.ts": ["eslint --fix", "prettier --write"],
  "**/*.md": ["markdownlint --fix", "prettier --write"],
  "!**/*.{ts,md}": "prettier --write --ignore-unknown"
}

Rename to RandomIdArg
  docs/custom-decorators.md
  examples/middlewares-custom-decorators/decorators/random-id-arg.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat(decorators): support registering arg by `createParameterDecorator` (#1680)
  CHANGELOG.md
  docs/custom-decorators.md
  examples/middlewares-custom-decorators/decorators/current-user.ts
  examples/middlewares-custom-decorators/decorators/random-id-arg.ts
  examples/middlewares-custom-decorators/examples.graphql
  examples/middlewares-custom-decorators/recipe/recipe.data.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
  examples/middlewares-custom-decorators/recipe/recipe.type.ts
  examples/middlewares-custom-decorators/schema.graphql
  src/decorators/createParamDecorator.ts
  src/decorators/createParameterDecorator.ts
  src/decorators/index.ts
  src/metadata/definitions/param-metadata.ts
  src/resolvers/helpers.ts
  src/schema/schema-generator.ts
  src/shim.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(sponsors): add Insfollowpro to bronze sponsors
  README.md
  cspell.json
  images/insfollowpro.png
  website/pages/en/index.js
  website/static/img/insfollowpro.png
Due: prettier --write, markdownlint --fix

docs(sponsors): adjust logos size
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

docs(sponsors): add Social Followers to bronze sponsors
  README.md
  images/social_followers.png
  website/pages/en/index.js
  website/static/img/social_followers.png
Due: prettier --write, markdownlint --fix

Add test to reproduce the issue
  tests/functional/generic-types.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

Prevent subsequent build of metadata storage
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

Add test case for generic resolver and field resolvers
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

Make a local copy of metadata storage to build it
  src/schema/schema-generator.ts
Due: eslint --fix, prettier --write

Revert "Prevent subsequent build of metadata storage"
  src/metadata/metadata-storage.ts
Due: eslint --fix, prettier --write

Add changelog entry
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

fix(schema): prevent issues with subsequent schema builds (#1698)
  CHANGELOG.md
  src/schema/schema-generator.ts
  tests/functional/generic-types.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

release: 2.0.0-rc.2
  CHANGELOG.md
  package-lock.json
  package.json
  website/i18n/en.json
  website/versioned_docs/version-2.0.0-rc.2/authorization.md
  website/versioned_docs/version-2.0.0-rc.2/azure-functions.md
  website/versioned_docs/version-2.0.0-rc.2/browser-usage.md
  website/versioned_docs/version-2.0.0-rc.2/complexity.md
  website/versioned_docs/version-2.0.0-rc.2/custom-decorators.md
  website/versioned_docs/version-2.0.0-rc.2/dependency-injection.md
  website/versioned_docs/version-2.0.0-rc.2/examples.md
  website/versioned_docs/version-2.0.0-rc.2/extensions.md
  website/versioned_docs/version-2.0.0-rc.2/generic-types.md
  website/versioned_docs/version-2.0.0-rc.2/inheritance.md
  website/versioned_docs/version-2.0.0-rc.2/interfaces.md
  website/versioned_docs/version-2.0.0-rc.2/middlewares.md
  website/versioned_docs/version-2.0.0-rc.2/resolvers.md
  website/versioned_docs/version-2.0.0-rc.2/subscriptions.md
  website/versioned_docs/version-2.0.0-rc.2/unions.md
  website/versioned_docs/version-2.0.0-rc.2/validation.md
  website/versioned_sidebars/version-2.0.0-rc.2-sidebars.json
  website/versions.json
Due: prettier --write, markdownlint --fix

docs: fix @graphql-yoga/subscription package name
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs(subscriptions): fix `@graphql-yoga/subscription` package name (#1709)
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs: fix pubSub.publish code example
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs(subscriptions): fix pubSub.publish code example (#1710)
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs(sponsors): add Leofame to silver sponsors section
  README.md
  cspell.json
  images/leofame.png
  website/pages/en/index.js
  website/static/img/leofame.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add another bronze sponsor
  README.md
  cspell.json
  images/polis.png
  website/pages/en/index.js
  website/static/img/polis.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add ig comment to bronze section
  README.md
  images/ig-comment.png
  website/pages/en/index.js
  website/static/img/ig-comment.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add Twicsy to bronze sponsors section
  README.md
  cspell.json
  images/twicsy.svg
  website/pages/en/index.js
  website/static/img/twicsy.svg
Due: prettier --write, markdownlint --fix

docs(readme): split bronze sponsors sections table
  README.md
Due: prettier --write, markdownlint --fix

chore(deps): update all deps with peer deps
  CHANGELOG.md
  examples/custom-validation/recipe.input.ts
  examples/custom-validation/recipes.arguments.ts
  package-lock.json
  package.json
  src/utils/graphql-version.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(ci): update node version matrix to 22 from 18
  .github/workflows/check.yml
Due: none

chore(node): drop support for Node.js < 20.11.1
  .nvmrc
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

chore(ci): update node versions
  .github/workflows/check.yml
  .github/workflows/release.yml
  .github/workflows/sponsor.yml
  .github/workflows/website.yml
Due: none

Fix sponsorkit script
  .eslintignore
  sponsorkit.config.mts
Due: none

docs(sponsors): add new sponsors
  README.md
  cspell.json
  images/buzzoid.svg
  images/tiktok-expert.jpg
  website/pages/en/index.js
  website/static/img/buzzoid.svg
  website/static/img/tiktok-expert.jpg
Due: prettier --write, markdownlint --fix

docs(sponsors): fix sponsor url
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

docs(sponsors): add Social Mention to bronze sponsors
  README.md
  cspell.json
  images/socialmention.webp
  website/pages/en/index.js
  website/static/img/socialmention.webp
Due: prettier --write, markdownlint --fix

docs(sponsors): add wordhint to bronze sponsors
  README.md
  cspell.json
  images/wordhint.jpg
  website/pages/en/index.js
  website/static/img/wordhint.jpg
Due: prettier --write, markdownlint --fix

docs(sponsors): remove VPS server from sponsors
  README.md
  website/pages/en/index.js
  website/static/img/vps-server.png
Due: prettier --write, markdownlint --fix

docs(sponsors): remove Online Kasyno Polis
  README.md
  website/pages/en/index.js
  website/static/img/polis.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add new bronze sponsors
  README.md
  cspell.json
  images/betwinner.svg
  images/graming.svg
  website/pages/en/index.js
  website/static/img/betwinner.svg
  website/static/img/graming.svg
Due: prettier --write, markdownlint --fix

docs(sponsors): remove Insfollowpro
  README.md
  website/pages/en/index.js
  website/static/img/insfollowpro.png
Due: prettier --write, markdownlint --fix

docs(sponsors): add Famety to bronze sponsors
  README.md
  cspell.json
  images/famety.png
  website/pages/en/index.js
  website/static/img/famety.png
Due: prettier --write, markdownlint --fix

Introducing TypeGraphQL Guru on Gurubase.io
  README.md
Due: prettier --write, markdownlint --fix

doc: add AdonisJS integration documentation
  docs/adonisjs.md
  website/i18n/en.json
  website/sidebars.json
  website/versioned_docs/version-2.0.0-rc.2/adonisjs.md
  website/versioned_sidebars/version-2.0.0-rc.2-sidebars.json
Due: prettier --write, markdownlint --fix

docs(sponsors): move tiktok expert to bronze section
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

docs(license): update copyright year(s)
  LICENSE
Due: none
