Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

Deploy website Deploy website version based on 736c6d97b890e04d0c0ad41d1c9b02257f31a6c1
  img/github-sponsors.svg
Due: none

chore(sponsors): update sponsors image
  img/github-sponsors.svg
  website/static/img/github-sponsors.svg
Due: none

chore(esm): better typings and esm support
  benchmarks/tsconfig.json
  examples/tsconfig.json
  package.json
  scripts/package.json.ts
  scripts/readme.md.ts
  scripts/tsconfig.json
  tsconfig.json
  tsconfig.typings.json
Due: eslint --fix, prettier --write

internal(scripts): fix import assertions and dirname
  scripts/package.json.ts
  scripts/readme.md.ts
  tsconfig.typings.json
Due: eslint --fix, prettier --write

Revert "chore(esm): better typings and esm support"
  benchmarks/tsconfig.json
  examples/tsconfig.json
  package.json
  scripts/package.json.ts
  scripts/readme.md.ts
  scripts/tsconfig.json
  tsconfig.json
  tsconfig.typings.json
Due: eslint --fix, prettier --write

Revert "internal(scripts): fix import assertions and dirname"
  scripts/package.json.ts
  scripts/readme.md.ts
  tsconfig.typings.json
Due: eslint --fix, prettier --write

Add VSCode debug config for examples
  .vscode/launch.json
  .vscode/tasks.json
Due: none

Update deps
  package-lock.json
  package.json
Due: none

internal(refactor): better typings in bundle
  benchmarks/tsconfig.json
  examples/tsconfig.json
  package.json
  scripts/package.json.ts
  scripts/tsconfig.json
  tsconfig.json
  tsconfig.typings.json
Due: eslint --fix, prettier --write

chore(naming): better variables name
  scripts/package.json.ts
  scripts/readme.md.ts
Due: eslint --fix, prettier --write

chore(esm): added typescript-transformer-esm
  package-lock.json
  package.json
  tsconfig.json
Due: none

internal(scripts): markdown images and links GitHub ref
  .github/workflows/ci.yml
  .github/workflows/sponsor.yml
  package-lock.json
  package.json
  scripts/markdown.ts
  scripts/readme.md.ts
  website/package.json
Due: eslint --fix, prettier --write

chore(package.json): better clean
  package.json
Due: none

refactor: examples with package.json
  .github/workflows/ci.yml
  benchmarks/tsconfig.json
  examples/.eslintrc
  examples/package-lock.json
  examples/package.json
  examples/tsconfig.json
  package-lock.json
  package.json
  scripts/tsconfig.json
Due: none

chore(ci): example deps
  .github/workflows/ci.yml
Due: none

chore(ci): support node 14
  .github/workflows/ci.yml
  package.json
Due: none

chore(ci): fix install deps
  .github/workflows/ci.yml
Due: none

chore(ci): should be fixed node 14
  .github/workflows/ci.yml
Due: none

chore(package.json): prettier automation for package.json
  examples/apollo-client/package.json
  package-lock.json
  package.json
  website/package.json
Due: none

docs(examples): add TSyringe example
  docs/dependency-injection.md
  docs/examples.md
  examples/package-lock.json
  examples/package.json
  examples/tsconfig.json
  examples/tsyringe/examples.graphql
  examples/tsyringe/index.ts
  examples/tsyringe/recipe.data.ts
  examples/tsyringe/recipe.input.ts
  examples/tsyringe/recipe.resolver.ts
  examples/tsyringe/recipe.service.ts
  examples/tsyringe/recipe.type.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(typings): add .js extension to typings
  tsconfig.json
Due: none

chore(gitignore): better gitignore
  .gitignore
Due: none

Configure docusaurus version bump for new release
  .github/workflows/ci.yml
  package.json
  website/package.json
Due: none

docs(decorators): add info about async createParamDecorator
  docs/custom-decorators.md
Due: prettier --write, markdownlint --fix

Deploy website Deploy website version based on 158bfe5cc7191cd66cce906945b504b8d7466ff5
  docs/next/custom-decorators.html
  img/github-sponsors.svg
Due: none

chore(package.json): order of scripts
  package.json
Due: none

chore(package.json): use --message instead of -m for better readability
  package.json
Due: none

wip: cts and mts
  src/utils/graphql-version.cts
  src/utils/graphql-version.mts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: none

chore(ci): install also root deps
  .github/workflows/ci.yml
Due: none

Revert "wip: cts and mts"
  src/utils/graphql-version.mts
  src/utils/graphql-version.ts
  tsconfig.cjs.json
  tsconfig.esm.json
  tsconfig.json
Due: eslint --fix, prettier --write

Deploy website Deploy website version based on 84e7033302d893ee2cbf5dc5528d1931530537ca
  docs/next/interfaces.html
Due: none

feat(object-types): support implementing multi-inherited interface
  CHANGELOG.md
  docs/interfaces.md
  src/schema/schema-generator.ts
  tests/functional/nested-interface-inheritance.ts
Due: eslint --fix, prettier --write, markdownlint --fix

feat: version and checks
  package.json
  scripts/version.ts
  src/errors/UnmetGraphQLPeerDependencyError.ts
  src/index.ts
  src/utils/graphql-version.ts
  src/version.ts
  tests/functional/peer-dependency.ts
Due: eslint --fix, prettier --write

internal(graphql): only check graphql version
  scripts/tsconfig.json
  scripts/version.ts
  src/errors/UnmetGraphQLPeerDependencyError.ts
  src/index.ts
  src/utils/graphql-version.ts
  src/utils/index.ts
  src/version.ts
  tests/functional/peer-dependency.ts
Due: eslint --fix, prettier --write

chore(scripts): add shebang ts-node
  scripts/package.json.ts
  scripts/version.ts
Due: eslint --fix, prettier --write

chore(examples): fixed typeorm basic usage example
  .eslintignore
  examples/package-lock.json
  examples/package.json
  examples/tsconfig.json
  examples/typeorm-basic-usage/context.type.ts
  examples/typeorm-basic-usage/datasource.ts
  examples/typeorm-basic-usage/entities/index.ts
  examples/typeorm-basic-usage/entities/rating.ts
  examples/typeorm-basic-usage/entities/recipe.ts
  examples/typeorm-basic-usage/entities/user.ts
  examples/typeorm-basic-usage/examples.graphql
  examples/typeorm-basic-usage/helpers.ts
  examples/typeorm-basic-usage/index.ts
  examples/typeorm-basic-usage/resolvers/index.ts
  examples/typeorm-basic-usage/resolvers/rate-resolver.ts
  examples/typeorm-basic-usage/resolvers/rating.resolver.ts
  examples/typeorm-basic-usage/resolvers/recipe-resolver.ts
  examples/typeorm-basic-usage/resolvers/recipe.resolver.ts
  examples/typeorm-basic-usage/resolvers/types/index.ts
  examples/typeorm-basic-usage/resolvers/types/rate-input.ts
  examples/typeorm-basic-usage/resolvers/types/rating.input.ts
  examples/typeorm-basic-usage/resolvers/types/recipe.input.ts
Due: eslint --fix, prettier --write

docs: added esm example
  .eslintrc
  docs/examples.md
  examples/README.md
  examples/esm/examples.graphql
  examples/esm/index.ts
  examples/esm/package.json
  examples/esm/recipe.data.ts
  examples/esm/recipe.input.ts
  examples/esm/recipe.resolver.ts
  examples/esm/recipe.type.ts
  examples/esm/schema.graphql
  examples/package-lock.json
  examples/package.json
  examples/tsconfig.esm.json
  examples/tsconfig.json
  package-lock.json
  package.json
  scripts/markdown.ts
  scripts/package.json.ts
Due: eslint --fix, prettier --write, markdownlint --fix

chore(fix): package json lock
  package-lock.json
Due: none

docs(examples): fixed typeorm lazy relations
  .eslintignore
  examples/tsconfig.json
  examples/typeorm-lazy-relations/context.type.ts
  examples/typeorm-lazy-relations/datasource.ts
  examples/typeorm-lazy-relations/entities/index.ts
  examples/typeorm-lazy-relations/entities/rate.ts
  examples/typeorm-lazy-relations/entities/rating.ts
  examples/typeorm-lazy-relations/entities/recipe.ts
  examples/typeorm-lazy-relations/entities/user.ts
  examples/typeorm-lazy-relations/helpers.ts
  examples/typeorm-lazy-relations/index.ts
  examples/typeorm-lazy-relations/resolvers/index.ts
  examples/typeorm-lazy-relations/resolvers/recipe-resolver.ts
  examples/typeorm-lazy-relations/resolvers/recipe.resolver.ts
  examples/typeorm-lazy-relations/resolvers/types/context.ts
  examples/typeorm-lazy-relations/resolvers/types/index.ts
  examples/typeorm-lazy-relations/resolvers/types/rate-input.ts
  examples/typeorm-lazy-relations/resolvers/types/rating.input.ts
  examples/typeorm-lazy-relations/resolvers/types/recipe.input.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: ((any of: **/*.ts) or (any of: **/*.js)) or (any of: *.md)
  markdownlint --fix: any of: *.md
