Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "{src,tests,examples}/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "{src,tests,examples}/**/*.js": [
    "prettier --write"
  ],
  "*.md": [
    "markdownlint --fix",
    "prettier --write"
  ]
}

chore(package): add scripts to build benchmarks and examples
  package.json
Due: none

tests: fixed all tests to match current configuration
  .eslintignore
  cspell.json
  examples/enums-and-unions/cook.data.ts
  tests/functional/directives.ts
  tests/functional/emit-schema-sdl.ts
  tests/functional/enums.ts
  tests/functional/extensions.ts
  tests/functional/fields.ts
  tests/functional/generic-types.ts
  tests/functional/interface-resolvers-args.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/ioc-container.ts
  tests/functional/manual-decorators.ts
  tests/functional/metadata-storage.ts
  tests/functional/middlewares.ts
  tests/functional/query-complexity.ts
  tests/functional/scalars.ts
  tests/helpers/circular-refs/good/CircularRef1.ts
  tests/helpers/circular-refs/good/CircularRef2.ts
  tests/helpers/circular-refs/wrong/CircularRef1.ts
  tests/helpers/circular-refs/wrong/CircularRef2.ts
  tests/helpers/customScalar.ts
  tests/helpers/directives/assertValidDirective.ts
  tests/helpers/getInnerFieldType.ts
  tests/helpers/getSchemaInfo.ts
  tests/helpers/loading-from-directories/sample.resolver.ts
Due: eslint --fix, prettier --write

chore(examples): fix extensions example
  .eslintignore
  examples/extensions/context.interface.ts
  examples/extensions/context.type.ts
  examples/extensions/examples.graphql
  examples/extensions/index.ts
  examples/extensions/log-message.decorator.ts
  examples/extensions/logger.middleware.ts
  examples/extensions/logger.service.ts
  examples/extensions/recipe.data.ts
  examples/extensions/recipe.type.ts
  examples/extensions/resolver.ts
  examples/extensions/user.type.ts
  examples/tsconfig.json
Due: eslint --fix, prettier --write

chore(examples): fix apollo-cache example
  .eslintignore
  examples/apollo-cache/cache-control.ts
  examples/apollo-cache/examples.graphql
  examples/apollo-cache/helpers/RequireAtLeastOne.d.ts
  examples/apollo-cache/helpers/getTime.ts
  examples/apollo-cache/index.ts
  examples/apollo-cache/recipe.data.ts
  examples/apollo-cache/recipe.resolver.ts
  examples/apollo-cache/recipe.type.ts
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

docs: fixed and updated authorization doc
  .markdownlintignore
  docs/authorization.md
Due: prettier --write, markdownlint --fix

fix(docs): typo
  docs/authorization.md
Due: prettier --write, markdownlint --fix

docs: fix bootstrap doc
  docs/authorization.md
  docs/bootstrap.md
Due: prettier --write, markdownlint --fix

docs: fixed and updated docs browser-usage, complexity and custom-decorators
  docs/browser-usage.md
  docs/complexity.md
  docs/custom-decorators.md
Due: prettier --write, markdownlint --fix

docs: fixed and updated dependency-injection example
  docs/dependency-injection.md
Due: prettier --write, markdownlint --fix

chore(scripts): added check also in husky
  .husky/pre-commit
  package.json
Due: none

docs: fix and update directives doc
  docs/directives.md
Due: prettier --write, markdownlint --fix

chore(dependabot): removed examples
  .github/dependabot.yml
Due: none

docs(readme): add security contact information
  README.md
Due: prettier --write, markdownlint --fix

Add --ignore-scripts to publish command
  .github/workflows/ci.yml
Due: none

Fix gh action website commit message
  .github/workflows/ci.yml
Due: none

Move `no-console` to root benchmarks rules
  benchmarks/.eslintrc
  benchmarks/array/graphql-js/async.ts
  benchmarks/array/graphql-js/standard.ts
  benchmarks/array/run.ts
  benchmarks/array/type-graphql/async-field-resolvers.ts
  benchmarks/array/type-graphql/simple-resolvers.ts
  benchmarks/array/type-graphql/standard.ts
  benchmarks/array/type-graphql/sync-field-resolvers.ts
  benchmarks/array/type-graphql/sync-getters.ts
  benchmarks/array/type-graphql/with-global-middleware.ts
  benchmarks/simple/graphql-js.ts
  benchmarks/simple/run.ts
  benchmarks/simple/type-graphql.ts
Due: none

feat(resolvers): remove support for loading resolvers by glob paths
  CHANGELOG.md
  docs/bootstrap.md
  docs/faq.md
  examples/apollo-client/package.json
  package-lock.json
  package.json
  src/helpers/loadResolversFromGlob.ts
  src/utils/buildSchema.ts
  tests/functional/resolvers.ts
  tests/helpers/loading-from-directories/sample.resolver.ts
  tests/helpers/loading-from-directories/sample.type.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Deploy website Deploy website version based on 35e908fef7acb83a02226626f44bd9d121383fff
  docs/next/bootstrap.html
  docs/next/faq.html
Due: none

feat(schema): remove `isAbstract` legacy decorator option
  CHANGELOG.md
  docs/generic-types.md
  docs/inheritance.md
  examples/generic-types/paginated-response.type.ts
  examples/mixin-classes/mixins/with-id.ts
  examples/mixin-classes/mixins/with-password.ts
  examples/mixin-classes/types/user-details.ts
  examples/resolvers-inheritance/resource/resource.resolver.ts
  src/decorators/InputType.ts
  src/decorators/InterfaceType.ts
  src/decorators/ObjectType.ts
  src/decorators/Resolver.ts
  src/decorators/types.ts
  src/metadata/definitions/class-metadata.ts
  src/metadata/definitions/resolver-metadata.ts
  src/schema/schema-generator.ts
  tests/functional/generic-types.ts
  tests/functional/metadata-storage.ts
  tests/functional/query-complexity.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(examples): fix resolvers-inheritance example TypeDI issue
  examples/resolvers-inheritance/index.ts
  examples/resolvers-inheritance/person/person.resolver.ts
  examples/resolvers-inheritance/recipe/recipe.resolver.ts
  examples/resolvers-inheritance/schema.gql
Due: eslint --fix, prettier --write

Deploy website Deploy website version based on fca139b7f7e4302de1ca5e612ee9abed6d28a407
  docs/next/generic-types.html
  docs/next/inheritance.html
Due: none

chore(fix): package lock
  package-lock.json
Due: none

docs: fix and updated docs
  docs/emit-schema.md
  docs/enums.md
  docs/examples.md
  docs/extensions.md
  docs/faq.md
  docs/generic-types.md
  examples/README.md
Due: prettier --write, markdownlint --fix

docs: finished updating and fixing docs
  .markdownlintignore
  CONTRIBUTING.md
  docs/README.md
  docs/getting-started.md
  docs/inheritance.md
  docs/installation.md
  docs/interfaces.md
  docs/introduction.md
  docs/middlewares.md
  docs/nestjs.md
  docs/performance.md
  docs/prisma.md
  docs/resolvers.md
  docs/scalars.md
  docs/subscriptions.md
  docs/types-and-fields.md
  docs/unions.md
  docs/validation.md
Due: prettier --write, markdownlint --fix

chore: fix empty catch block tslint to eslint
  src/decorators/FieldResolver.ts
  src/decorators/Root.ts
Due: eslint --fix, prettier --write

docs: fix spelling and typos
  cspell.json
  docs/interfaces.md
  docs/subscriptions.md
  docs/types-and-fields.md
  docs/validation.md
Due: prettier --write, markdownlint --fix

tests: removed units from jest config
  jest.config.ts
Due: none

chore(examples): added graphql-scalars example
  docs/examples.md
  examples/README.md
  examples/graphql-scalars/examples.graphql
  examples/graphql-scalars/index.ts
  examples/graphql-scalars/recipe.data.ts
  examples/graphql-scalars/recipe.input.ts
  examples/graphql-scalars/recipe.resolver.ts
  examples/graphql-scalars/recipe.type.ts
  examples/graphql-scalars/schema.graphql
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix

chore: removed global require from eslint
  .eslintrc
  src/utils/graphql-version.ts
  tests/functional/circular-refs.ts
  tests/functional/peer-dependency.ts
Due: eslint --fix, prettier --write

chore(fix): eslint rule
  .eslintrc
  src/metadata/getMetadataStorage.ts
  tests/functional/subscriptions.ts
Due: eslint --fix, prettier --write

chore: fix eslint rule
  .eslintrc
  examples/apollo-cache/recipe.data.ts
  examples/authorization/recipe.data.ts
  examples/enums-and-unions/cook.data.ts
  examples/enums-and-unions/recipe.data.ts
  examples/extensions/recipe.data.ts
  examples/graphql-scalars/recipe.data.ts
  examples/query-complexity/recipe.data.ts
  examples/simple-usage/recipe.data.ts
  examples/using-container/recipe.data.ts
  examples/using-scoped-container/recipe/recipe.data.ts
  src/helpers/findType.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/helpers/directives/TestDirective.ts
  tests/helpers/getInnerFieldType.ts
Due: eslint --fix, prettier --write

chore(scripts); removed useless scripts directory and files
  .eslintrc
  .lintstagedrc
  package.json
  scripts/.eslintrc
  scripts/__commons.sh
  scripts/publish-website.sh
  scripts/shellchek.ts
  scripts/tsconfig.json
Due: none

chore(ci): fix publish
  .github/workflows/ci.yml
Due: none

Fix CI names and node version
  .github/workflows/ci.yml
Due: none

chore(fix): eslint rule
  .eslintrc
  src/resolvers/helpers.ts
Due: eslint --fix, prettier --write

chore(ci): fix shellcheck
  .github/workflows/ci.yml
Due: none

chore: consistent curly and block statements eslint rule
  .eslintrc
  examples/apollo-cache/recipe.type.ts
  examples/graphql-scalars/recipe.type.ts
  examples/simple-usage/recipe.type.ts
  src/metadata/getMetadataStorage.ts
  src/resolvers/helpers.ts
Due: eslint --fix, prettier --write

docs: fix DI
  docs/authorization.md
  docs/dependency-injection.md
  docs/resolvers.md
Due: prettier --write, markdownlint --fix

Update docs readme
  docs/README.md
Due: prettier --write, markdownlint --fix
