Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

test: better multiline and leading whitespaces tests
  tests/functional/directives.ts
  tests/helpers/directives/TestDirective.ts
  tests/helpers/directives/assertValidDirective.ts
Due: eslint --fix, prettier --write

fix(inheritance): repair deeply nested overriding of fields in arg type
  CHANGELOG.md
  src/schema/schema-generator.ts
  tests/functional/interfaces-and-inheritance.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(subscriptions): restore redis example link
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs(sponsors): remove NonGamstopCasinos from sponsors
  README.md
  website/pages/en/index.js
Due: prettier --write, markdownlint --fix

chore(deps-dev): bump prettier from 3.1.1 to 3.2.5
  package-lock.json
  package.json
  src/helpers/utils.ts
  src/metadata/utils.ts
  src/schema/schema-generator.ts
  src/typings/utils/Except.ts
  src/typings/utils/IsEqual.ts
Due: eslint --fix, prettier --write

docs(subscriptions): fix wrong `subscribe` function signature
  docs/subscriptions.md
Due: prettier --write, markdownlint --fix

docs: added discord badge and updated npm badge (#1632)
  README.md
Due: prettier --write, markdownlint --fix

feat(metadata): adjust typings and simplify Reflect API check
  CHANGELOG.md
  docs/installation.md
  src/@types/Reflect.d.ts
  src/helpers/findType.ts
  src/metadata/metadata-storage.ts
  src/metadata/utils.ts
  tests/functional/errors/metadata-polyfill.ts
  tests/helpers/expectToThrow.ts
Due: eslint --fix, prettier --write, markdownlint --fix

docs(custom-decorators): fix grammar typo (#1647)
  docs/custom-decorators.md
Due: prettier --write, markdownlint --fix

release: 2.0.0-rc.1
  CHANGELOG.md
  package-lock.json
  package.json
  website/versioned_docs/version-2.0.0-rc.1/authorization.md
  website/versioned_docs/version-2.0.0-rc.1/complexity.md
  website/versioned_docs/version-2.0.0-rc.1/custom-decorators.md
  website/versioned_docs/version-2.0.0-rc.1/dependency-injection.md
  website/versioned_docs/version-2.0.0-rc.1/examples.md
  website/versioned_docs/version-2.0.0-rc.1/extensions.md
  website/versioned_docs/version-2.0.0-rc.1/generic-types.md
  website/versioned_docs/version-2.0.0-rc.1/inheritance.md
  website/versioned_docs/version-2.0.0-rc.1/installation.md
  website/versioned_docs/version-2.0.0-rc.1/interfaces.md
  website/versioned_docs/version-2.0.0-rc.1/middlewares.md
  website/versioned_docs/version-2.0.0-rc.1/migration-guide.md
  website/versioned_docs/version-2.0.0-rc.1/resolvers.md
  website/versioned_docs/version-2.0.0-rc.1/subscriptions.md
  website/versioned_docs/version-2.0.0-rc.1/unions.md
  website/versioned_docs/version-2.0.0-rc.1/validation.md
  website/versions.json
Due: prettier --write, markdownlint --fix

fix(directives): allow multiline and leading spaces (#1669)
  CHANGELOG.md
  src/schema/definition-node.ts
  tests/functional/directives.ts
  tests/helpers/directives/TestDirective.ts
  tests/helpers/directives/assertValidDirective.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Add Next.js browser shim and update headers/format
  docs/browser-usage.md
Due: prettier --write, markdownlint --fix

docs(shim): add Next.js focused section (#669)
  docs/browser-usage.md
Due: prettier --write, markdownlint --fix

feat(package): add `browser` field to package.json (#1065)
  package.json
Due: none

chore(deps): bump graphql-scalars to 1.23.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

docs(example): add azure functions integration example
  docs/examples.md
  examples/azure-functions/handler-graphql/function.json
  examples/azure-functions/handler-graphql/index.ts
  examples/azure-functions/host.json
  examples/azure-functions/package-lock.json
  examples/azure-functions/package.json
  examples/azure-functions/src/constants/sample-data.ts
  examples/azure-functions/src/models/user.ts
  examples/azure-functions/src/resolvers/user.resolver.ts
  examples/azure-functions/tsconfig.json
  website/versioned_docs/version-2.0.0-beta.6/examples.md
Due: eslint --fix, prettier --write, markdownlint --fix

docs(examples): add link to article integrating azure functions
  docs/azure-functions.md
Due: prettier --write, markdownlint --fix

doc(sample): add compact guide for azure function integration
  website/versioned_docs/version-2.0.0-beta.6/azure-functions.md
Due: prettier --write, markdownlint --fix

Move azure function to `docs` folder
  docs/azure-functions.md
  website/sidebars.json
Due: prettier --write, markdownlint --fix

docs(sample): corrected location of doc to be added
  website/i18n/en.json
  website/versioned_docs/version-2.0.0-beta.6/azure-functions.md
Due: prettier --write, markdownlint --fix

Update generated en.json
  website/i18n/en.json
Due: none

Remove azure example
  docs/examples.md
  examples/azure-functions/handler-graphql/function.json
  examples/azure-functions/handler-graphql/index.ts
  examples/azure-functions/host.json
  examples/azure-functions/package-lock.json
  examples/azure-functions/package.json
  examples/azure-functions/src/constants/sample-data.ts
  examples/azure-functions/src/models/user.ts
  examples/azure-functions/src/resolvers/user.resolver.ts
  examples/azure-functions/tsconfig.json
Due: eslint --fix, prettier --write, markdownlint --fix

Fix typo
  docs/azure-functions.md
Due: prettier --write, markdownlint --fix

Remove link
  website/versioned_docs/version-2.0.0-beta.6/examples.md
Due: prettier --write, markdownlint --fix

Fix typos
  docs/azure-functions.md
Due: prettier --write, markdownlint --fix

docs(sponsors): add SidesMedia to bronze sponsors
  README.md
  cspell.json
  images/sidesmedia.png
  website/i18n/en.json
  website/pages/en/index.js
  website/static/img/sidesmedia.png
Due: prettier --write, markdownlint --fix

Rename create decorator method
  docs/custom-decorators.md
  examples/middlewares-custom-decorators/decorators/validate-args.ts
  src/decorators/createClassMiddlewareDecorator.ts
  src/decorators/createMethodMiddlewareDecorator.ts
  src/decorators/index.ts
  src/shim.ts
  tests/functional/middlewares.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Add changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

fix(metadata): restore original metadata to enable repeated buildSchema executions
  src/metadata/metadata-storage.ts
  tests/functional/metadata-storage.ts
Due: eslint --fix, prettier --write

docs(sample): add guide for integrating with azure functions (#1637)
  docs/azure-functions.md
  website/i18n/en.json
  website/sidebars.json
Due: prettier --write, markdownlint --fix

Add comments for cleanup in tests
  tests/functional/middlewares.ts
Due: eslint --fix, prettier --write

Add missing shim for createClassMiddlewareDecorator
  src/shim.ts
Due: eslint --fix, prettier --write

Update docs to reflect new class-defined auth and middlewares
  docs/authorization.md
  docs/custom-decorators.md
  docs/middlewares.md
Due: prettier --write, markdownlint --fix

Rename createResolverClassMiddlewareDecorator and update changelog
  CHANGELOG.md
  docs/custom-decorators.md
  src/decorators/createResolverClassMiddlewareDecorator.ts
  src/decorators/index.ts
  src/shim.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Update examples to use resolver class scoped middleware
  examples/middlewares-custom-decorators/index.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
Due: eslint --fix, prettier --write

feat(decorators): support auth and middlewares on resolver class (#1297)
  CHANGELOG.md
  docs/authorization.md
  docs/custom-decorators.md
  docs/middlewares.md
  examples/middlewares-custom-decorators/decorators/validate-args.ts
  examples/middlewares-custom-decorators/index.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
  src/decorators/Authorized.ts
  src/decorators/UseMiddleware.ts
  src/decorators/createMethodMiddlewareDecorator.ts
  src/decorators/createResolverClassMiddlewareDecorator.ts
  src/decorators/index.ts
  src/decorators/types.ts
  src/metadata/definitions/authorized-metadata.ts
  src/metadata/definitions/middleware-metadata.ts
  src/metadata/metadata-storage.ts
  src/metadata/utils.ts
  src/shim.ts
  tests/functional/authorization.ts
  tests/functional/middlewares.ts
Due: eslint --fix, prettier --write, markdownlint --fix

Update docs
  docs/custom-decorators.md
Due: prettier --write, markdownlint --fix

Support registering arg in createParameterDecorator
  src/decorators/createParamDecorator.ts
  src/decorators/createParameterDecorator.ts
  src/decorators/index.ts
  src/metadata/definitions/param-metadata.ts
  src/resolvers/helpers.ts
  src/schema/schema-generator.ts
  src/shim.ts
  tests/functional/resolvers.ts
Due: eslint --fix, prettier --write

Update examples
  examples/middlewares-custom-decorators/decorators/current-user.ts
  examples/middlewares-custom-decorators/decorators/random-id.ts
  examples/middlewares-custom-decorators/examples.graphql
  examples/middlewares-custom-decorators/recipe/recipe.data.ts
  examples/middlewares-custom-decorators/recipe/recipe.resolver.ts
  examples/middlewares-custom-decorators/recipe/recipe.type.ts
  examples/middlewares-custom-decorators/schema.graphql
Due: eslint --fix, prettier --write

Update changelog
  CHANGELOG.md
Due: prettier --write, markdownlint --fix

Path conditions:
  eslint --fix: any of: **/*.ts
  prettier --write: (any of: **/*.ts) or (any of: **/*.md)
  markdownlint --fix: any of: **/*.md
