Repository MichalLytek/type-graphql: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, markdownlint --fix

.lintstagedrc:

{
  "{src,tests,examples}/**/*.ts": [
    "eslint --fix",
    "prettier --write"
  ],
  "{src,tests,examples}/**/*.js": [
    "prettier --write"
  ],
  "*.md": [
    "markdownlint --fix",
    "prettier --write"
  ]
}

chore(internal): fix dependencies
  package-lock.json
  package.json
Due: none

chore(fix): partial tests eslint fix
  .eslintrc
  cspell.json
  src/helpers/findType.ts
  src/helpers/loadResolversFromGlob.ts
  src/metadata/getMetadataStorage.ts
  src/resolvers/create.ts
  src/resolvers/helpers.ts
  src/schema/schema-generator.ts
  src/utils/isPromiseLike.ts
  tests/.eslintrc
  tests/functional/default-values.ts
  tests/functional/extensions.ts
  tests/functional/generic-types.ts
  tests/functional/interface-resolvers-args.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/ioc-container.ts
  tests/functional/middlewares.ts
  tests/functional/resolvers.ts
  tests/functional/typedefs-resolvers.ts
  tests/functional/unions.ts
Due: eslint --fix, prettier --write

chore(fix): passing check and test scripts
  .eslintignore
  .github/workflows/main.yml
  .markdownlintignore
  benchmarks/array/run.ts
  benchmarks/simple/run.ts
  cspell.json
  package.json
  src/metadata/definitions/object-class-metadata.ts
  src/metadata/metadata-storage.ts
  src/schema/schema-generator.ts
  tests/.eslintrc
  tests/functional/interface-resolvers-args.ts
  tests/functional/resolvers.ts
  tests/functional/subscriptions.ts
  tests/functional/unions.ts
  tests/helpers/sleep.ts
Due: eslint --fix, prettier --write

chore(scripts): added shellcheck
  .eslintrc
  cspell.json
  package-lock.json
  package.json
  scripts/.eslintrc
  scripts/publish-website.sh
  scripts/shellchek.ts
  scripts/tsconfig.json
Due: none

chore(babel): removed babel
  babel.config.js
  package-lock.json
  package.json
Due: none

Fix format issues
  website/versioned_docs/version-0.16.0/enums.md
Due: prettier --write, markdownlint --fix

fix: prettier
  src/utils/buildSchema.ts
Due: eslint --fix, prettier --write

fix: add npx to missing commands
  package.json
Due: none

chore(ci): ci improvements
  .github/configs/changelog.json
  .github/configs/codeql.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  website/package.json
Due: none

chore(ci): removed integration
  .github/workflows/ci.yml
Due: none

chore(readme): better readme following markdownlint rules
  .markdownlintignore
  README.md
Due: prettier --write, markdownlint --fix

chore(examples): fixed simple-usage example
  .eslintignore
  .github/dependabot.yml
  .markdownlintignore
  README.md
  benchmarks/array/run.ts
  benchmarks/array/type-graphql/async-field-resolvers.ts
  benchmarks/array/type-graphql/simple-resolvers.ts
  benchmarks/array/type-graphql/standard.ts
  benchmarks/array/type-graphql/sync-field-resolvers.ts
  benchmarks/array/type-graphql/sync-getters.ts
  benchmarks/array/type-graphql/with-global-middleware.ts
  benchmarks/simple/run.ts
  benchmarks/simple/type-graphql.ts
  benchmarks/tsconfig.json
  examples/.eslintrc
  examples/README.md
  examples/dev.js
  examples/package-lock.json
  examples/package.json
  examples/simple-usage/examples.graphql
  examples/simple-usage/index.ts
  examples/simple-usage/recipe-input.ts
  examples/simple-usage/recipe-resolver.ts
  examples/simple-usage/recipe-type.ts
  examples/simple-usage/schema.graphql
  examples/tsconfig.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, markdownlint --fix

fix: ci and add _ to simple usage example
  .github/workflows/ci.yml
  examples/simple-usage/recipe-resolver.ts
  examples/simple-usage/recipe-type.ts
  examples/tsconfig.json
  package.json
Due: eslint --fix, prettier --write

chore(ci): fix ci deps install path
  .github/workflows/ci.yml
Due: none

chore(deps): fix package lock
  examples/package-lock.json
  package-lock.json
Due: none

chore(ci): install not working
  .github/workflows/ci.yml
Due: none

chore(ci): test npm install
  .github/workflows/ci.yml
Due: none

chore(examples): fix graphql types and removed package
  .github/workflows/ci.yml
  examples/.eslintrc
  examples/package-lock.json
  examples/package.json
  examples/simple-usage/recipe-resolver.ts
  examples/simple-usage/recipe-type.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore(examples): fix using-container example
  .eslintignore
  examples/simple-usage/index.ts
  examples/tsconfig.json
  examples/using-container/examples.graphql
  examples/using-container/index.ts
  examples/using-container/recipe-input.ts
  examples/using-container/recipe-resolver.ts
  examples/using-container/recipe-service.ts
  examples/using-container/recipe-type.ts
Due: eslint --fix, prettier --write

chore(examples): fix DI constructor
  examples/using-container/recipe-resolver.ts
  examples/using-container/recipe-service.ts
Due: eslint --fix, prettier --write

chore(examples): fix using-scoped-container example
  .eslintignore
  examples/simple-usage/index.ts
  examples/simple-usage/recipe-resolver.ts
  examples/tsconfig.json
  examples/using-container/index.ts
  examples/using-scoped-container/examples.graphql
  examples/using-scoped-container/index.ts
  examples/using-scoped-container/logger.ts
  examples/using-scoped-container/recipe/recipe.input.ts
  examples/using-scoped-container/recipe/recipe.resolver.ts
  examples/using-scoped-container/recipe/recipe.samples.ts
  examples/using-scoped-container/recipe/recipe.service.ts
  examples/using-scoped-container/recipe/recipe.type.ts
  examples/using-scoped-container/types.ts
Due: eslint --fix, prettier --write

chore(images): renamed img folder to images
  README.md
  cspell.json
  images/admin-remix.png
  images/alka.png
  images/blue_receipt.gif
  images/chums.svg
  images/ecad.png
  images/ecad_new.png
  images/flatirons.png
  images/gorrion.png
  images/instinctools.svg
  images/intexsoft.jpg
  images/lifex.png
  images/live-graphics-system.png
  images/logo.png
  images/lovd.png
  images/mr-yum.png
  images/pwmlogo.png
  images/qulix.png
  images/rubydroid.svg
  images/slon.png
  images/swiss-mentor.png
  images/vps-server.png
Due: prettier --write, markdownlint --fix

fix(examples): authorization example
  .eslintignore
  examples/authorization/auth-checker.ts
  examples/authorization/context.interface.ts
  examples/authorization/examples.graphql
  examples/authorization/index.ts
  examples/authorization/recipe.type.ts
  examples/authorization/resolver.ts
  examples/authorization/user.interface.ts
  examples/tsconfig.json
Due: eslint --fix, prettier --write

chore(scripts): commons must not be executable
  scripts/__commons.sh
Due: none

fix(examples): generic-types
  .eslintignore
  examples/generic-types/examples.graphql
  examples/generic-types/index.ts
  examples/generic-types/paginated-response.type.ts
  examples/generic-types/recipe.resolver.ts
  examples/generic-types/recipe.samples.ts
  examples/generic-types/recipe.type.ts
  examples/generic-types/schema.graphql
  examples/tsconfig.json
Due: eslint --fix, prettier --write

fix(examples); file name consistency
  examples/authorization/auth-checker.ts
  examples/authorization/context.type.ts
  examples/authorization/index.ts
  examples/authorization/recipe.data.ts
  examples/authorization/recipe.resolver.ts
  examples/authorization/user.type.ts
  examples/generic-types/recipe.data.ts
  examples/generic-types/recipe.resolver.ts
  examples/simple-usage/index.ts
  examples/simple-usage/recipe.data.ts
  examples/simple-usage/recipe.input.ts
  examples/simple-usage/recipe.resolver.ts
  examples/simple-usage/recipe.type.ts
  examples/using-container/index.ts
  examples/using-container/recipe.data.ts
  examples/using-container/recipe.input.ts
  examples/using-container/recipe.resolver.ts
  examples/using-container/recipe.service.ts
  examples/using-container/recipe.type.ts
  examples/using-scoped-container/context.type.ts
  examples/using-scoped-container/index.ts
  examples/using-scoped-container/logger.ts
  examples/using-scoped-container/recipe/recipe.data.ts
  examples/using-scoped-container/recipe/recipe.resolver.ts
Due: eslint --fix, prettier --write

fix(examples): automatic-validation
  .eslintignore
  examples/automatic-validation/examples.graphql
  examples/automatic-validation/helpers.ts
  examples/automatic-validation/index.ts
  examples/automatic-validation/recipe.input.ts
  examples/automatic-validation/recipe.resolver.ts
  examples/automatic-validation/recipe.type.ts
  examples/automatic-validation/recipes.arguments.ts
  examples/tsconfig.json
Due: eslint --fix, prettier --write

fix(examples): custom-validation and some typos
  .eslintignore
  cspell.json
  examples/custom-validation/examples.graphql
  examples/custom-validation/helpers.ts
  examples/custom-validation/index.ts
  examples/custom-validation/recipe.input.ts
  examples/custom-validation/recipe.resolver.ts
  examples/custom-validation/recipe.type.ts
  examples/custom-validation/recipes.arguments.ts
  examples/custom-validation/schema.graphql
  examples/tsconfig.json
  package-lock.json
  package.json
  tests/functional/authorization.ts
  tests/functional/fields.ts
  tests/functional/interfaces-and-inheritance.ts
  tests/functional/scalars.ts
  tests/functional/simple-resolvers.ts
  tests/functional/unions.ts
Due: eslint --fix, prettier --write

chore(cspell): sorted words
  cspell.json
Due: none

tests: fixed some tests
  tests/functional/authorization.ts
  tests/functional/circular-refs.ts
  tests/functional/default-nullable.ts
  tests/functional/default-values.ts
  tests/functional/deprecation.ts
  tests/functional/description.ts
  tests/functional/validation.ts
Due: eslint --fix, prettier --write

tests: more tests fixed
  tests/functional/resolvers.ts
  tests/functional/scalars.ts
  tests/functional/simple-resolvers.ts
  tests/functional/subscriptions.ts
  tests/functional/typedefs-resolvers.ts
  tests/functional/unions.ts
Due: eslint --fix, prettier --write

chore(examples): fixed enums-and-union and query-complexity examples
  .eslintignore
  examples/enums-and-unions/cook.data.ts
  examples/enums-and-unions/cook.type.ts
  examples/enums-and-unions/examples.graphql
  examples/enums-and-unions/index.ts
  examples/enums-and-unions/recipe.data.ts
  examples/enums-and-unions/recipe.type.ts
  examples/enums-and-unions/resolver.ts
  examples/enums-and-unions/search-result.union.ts
  examples/query-complexity/examples.graphql
  examples/query-complexity/index.ts
  examples/query-complexity/recipe.data.ts
  examples/query-complexity/recipe.resolver.ts
  examples/query-complexity/recipe.type.ts
  examples/tsconfig.json
  examples/using-container/index.ts
  examples/using-scoped-container/index.ts
Due: eslint --fix, prettier --write
